<template>
	<div style="background:#fff;height:100%;">
        <navBar></navBar>
		<div style="padding:15px;">
			<div class="login-input" style="margin-bottom:15px;">
				<i class="iconfont icon-zhanghao1"></i>
				<input placeholder="请输入身份证号" v-model="idcard" /> 
			</div>
			<div class="login-input" style="margin-bottom:90px">
				<i class="iconfont icon-mima1"></i>
				<input placeholder="请输入证书编号" v-model="sCertificateNum" />
			</div>
			<div class="wl-button"><van-button type="primary" :disabled="disabled" @click="onSubmit" >查询</van-button> </div>
		</div>
	</div>
</template>
<script>

import navBar from '@/components/navBar'
	export default {
		components: {
            navBar
		},
		data() {
			return {
                checked:true,
                idcard:null,
                sCertificateNum:null,
			}
		},
		created(){
			
		},
		
		mounted(){
           
        },
        computed:{
            disabled(){
                let flag=this.idcard && this.sCertificateNum
                return !flag              
            }  
        },
		
		watch: {
           
        },
		methods:{
            onSubmit() {
                let params = {
                    idcard: this.idcard,
                    sCertificateNum: this.sCertificateNum
				}
                this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/certificateindex`,{ params: params }).then(response => {
                    if(response.code=="0"){
                        this.getDetail(response.data)
                    }else{
                        this.$toast(response.msg)
                    }
                })
			},
			getDetail(params){
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/certificateinfo`,{ params: params }).then(response => {
					if(response.code=="0"){
						let params=JSON.stringify(response.data)
						this.$router.push({ path: '/certificate', query: { params: params } })
					}
				})
			}				
        }
    }

</script>


<style lang="less" scoped>
	.login-input{
        height: 46px;
        border-radius: 4px;
        border: 1px solid #E4E4E4;
        display: flex;
        position:relative;
        input{
            width:100%;
            font-size:14px;
            padding: 0 30px;
        }
        .van-button{
            width:100%;
            background-color: #23D3B5;
            border: 1px solid #23D3B5;
        }
        .iconfont{
            position: absolute;
            left: 10px; top: 
            50%;transform: translate(0, -50%);
        }
    }

    .get-code-btn{
        width:106px;
        font-size:14px;
    }

    .wl-button{
        height: 46px;
        border-radius: 4px;
        // border: 1px solid #E4E4E4;
        margin-bottom:15px;
        display: flex;
        position:relative;
         .van-button{
            width:100%;
            background-color: #23D3B5;
            border: 1px solid #23D3B5;
            font-size: 18px;
        }
    }


   
	
</style>
