<template>
    <div style="background:#fff;display: flex;flex: 1;flex-direction: column;">
        <div style="justify-content: center;align-items: center; display: flex;flex-direction: column;padding-top: 50px;padding-bottom: 20px;">
            <div style="margin-bottom:10px;">
                <i class="iconfont icon-chenggong"></i>
            </div>
            <div style="color:#333;font-size:16px;margin-bottom:10px;">支付成功</div> 
            <div style="color:#333;font-size:36px;"> ¥15.00</div> 
        </div>

        <div style="font-size:16px;color:#333;padding: 15px;">
            <div style="display: flex;align-items: center;justify-content: space-between;margin-bottom:10px;" >
                <span>订单信息</span><span>购买课程</span>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;" >
                <span>交易时间</span><span>2020-08-09-12：00：00</span>
            </div>
        </div>
 	</div>      
</template>
<script>
const defaultListQuery = {
  pageNum: 1,
  pageSize: 5
};
export default {
  	components: {
  	},
  	data() {
		return {
			
		};
  	},
	computed:{
		
	},
  	beforeMount() {

  	},
  	mounted() {
		
  	},
 	methods: {
		 
		
	
		

		
	},
	beforeDestroy() {   
	},
};
</script>
<style lang="less" scoped>
	
    .icon-chenggong{
        display: block;
        font-size: 52px;
        color:#07C160
    }
	    
</style>
