<template>
	<div style="background:#fff;height:100%;">
        <navBar></navBar>
        <van-tabs animated  line-width="60" line-height="2px" title-active-color="#23D3B5">
            <van-tab title="短信登陆">
                <SmsLogin></SmsLogin>
            </van-tab>
             <van-tab  title="账号登陆">
                <div style="padding:15px;">
                    <div class="login-input" style="margin-bottom:15px;">
                        <i class="iconfont icon-zhanghao1"></i>
                        <input placeholder="请输入账号" v-model="account" /> 
                    </div>
                    <div class="login-input" style="margin-bottom:90px">
                        <i class="iconfont icon-mima1"></i>
                        <input placeholder="请输入密码" v-model="sPassWord" />
                    </div>
                    <div class="wl-button"><van-button type="primary" :disabled="disabled" @click="handleLogin" >登陆</van-button> </div>
                </div>
            </van-tab>
        </van-tabs>

        <div style="position: absolute;bottom: 20px;left: 0; width: 100%;padding:0 10px;">
            <van-checkbox v-model="checked" shape="square" checked-color="#22d3b5" icon-size="11px" style="justify-content: center;">
                <div slot="default" style="font-size:11px;color:#999999;">登陆即同意相关<a style="color:#23D3B5;">《服务协议》</a> 及 <a style="color:#23D3B5;">《隐备份协议》</a></div>
            </van-checkbox>
        </div>
	</div>
</template>
<script>
import NoData from '@/components/NoData'
import SmsLogin from './SmsLogin'
import navBar from '@/components/navBar'
	export default {
		components: {
            NoData,
            SmsLogin,
            navBar
		},
		data() {
			return {
                checked:true,
                account:null,
                sPassWord:null,
                // backurl:null
			}
		},
		created(){
			
		},
		
		mounted(){
            console.log(this.$route.query.backurl)
        },
        computed:{
            disabled(){
                let flag=this.account && this.sPassWord
                return !flag              
            }  
        },
		
		watch: {
           
        },
		methods:{
            handleLogin() {
                let params = {
                    account: this.account,
                    sPassWord: this.sPassWord
                };
                this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/login`, { params: params}).then(response => {
                    if (response.code == "0") {
                        this.$store.commit("changeLogin", response.data);
                        localStorage.setItem( "store", JSON.stringify(this.$store.state));
                        this.$toast.success('登陆成功')
                        if(this.$route.query.backurl){
                            this.$router.replace(this.$route.query.backurl) 
                        }else{
                            this.$router.replace('/home')
                        }
                    }else{
                        this.$toast(response.msg)

                    }
                })
            }				
        }
    }

</script>


<style lang="less" scoped>
	.login-input{
        height: 46px;
        border-radius: 4px;
        border: 1px solid #E4E4E4;
        display: flex;
        position:relative;
        input{
            width:100%;
            font-size:14px;
            padding: 0 30px;
        }
        .van-button{
            width:100%;
            background-color: #23D3B5;
            border: 1px solid #23D3B5;
        }
        .iconfont{
            position: absolute;
            left: 10px; top: 
            50%;transform: translate(0, -50%);
        }
    }

    .get-code-btn{
        width:106px;
        font-size:14px;
    }

    .wl-button{
        height: 46px;
        border-radius: 4px;
        // border: 1px solid #E4E4E4;
        margin-bottom:15px;
        display: flex;
        position:relative;
         .van-button{
            width:100%;
            background-color: #23D3B5;
            border: 1px solid #23D3B5;
            font-size: 18px;
        }
    }


   
	
</style>
