          
<template>
<div style="padding:15px;">
    <div >
        <div class="login-input" style="margin-bottom:15px;">
            <i class="iconfont icon-zhanghao1"></i>
            <input placeholder="请输入手机号" v-model="loginForm.username" /> 
        </div>
        <div style="display:flex;margin-bottom:90px">
            <div class="login-input" style="flex:1;">
                <i class="iconfont icon-mima1"></i>
                <input placeholder="请输入验证码"  v-model="loginForm.code" />
            </div>
            <div class="login-input" style="margin-left: 15px;">
                <button type="primary" class="get-code-btn"  @click="getVerify" :disabled="(disabled = !show)" >
                    <span v-show="show">获取验证码</span>
                    <span v-show="!show" class="count">{{ count }} s</span>
                </button>
            </div>
        </div>
        <div class="wl-button"><van-button type="primary"  :disabled="loginDisabled" @click="handleLogin">登陆</van-button> </div>
    </div>
</div>
</template>
<script>

const defaultListQuery = {
    pageNum: 1,
    pageSize: 10
};
import NoData from '@/components/NoData'


	export default {
		components: {
			NoData
		},
		data() {
			return {
                loginForm:{},
			    loading: false,
                show: true,
                count: "", // 初始化次数
                timer: null,
                checked: false, //下次自动登录
                activeName: "second",
			}
		},
		created(){
			
		},
		computed:{
            loginDisabled(){
                let flag=this.loginForm.username && this.loginForm.code
                return !flag              
            }  
        },
		mounted(){
			
		},
		
		watch: {
           
        },
		methods:{
            
            handleLogin() {
                let params = {
                    sPhone: this.loginForm.username,
                    code: this.loginForm.code,
                    source: "forgetmessage",
                };
                this.axios.get(this.Global.BASE_URL + "/index.php?r=web/site/phone", { params: params}).then(response => {
                    if (response.code == "0") {
                        this.$store.commit("changeLogin", response.data);
                        localStorage.setItem( "store", JSON.stringify(this.$store.state));
                        this.$toast.success('登陆成功')
                        if(this.$route.query.backurl){
                            this.$router.replace(this.$route.query.backurl) 
                        }else{
                            this.$router.replace('/home')
                        }
                    } else {
                        this.$toast(response.msg);
                    }
                });
            },
            getVerify() {
                // 验证手机号
                if (this.checkPhone() == false) {
                    return false;
                } else {
                    const TIME_COUNT = 60; //更改倒计时时间
                    if (!this.timer) {
                    this.count = TIME_COUNT;
                    this.show = false;
                    this.timer = setInterval(() => {
                        if (this.count > 0 && this.count <= TIME_COUNT) {
                        this.count--;
                        } else {
                        this.show = true;
                        clearInterval(this.timer); // 清除定时器
                        this.timer = null;
                        }
                    }, 1000);
                    }
                }

                this.getVerificationCode();
            },
            checkPhone() {
                let phone = this.loginForm.username;
                if (!/^1[3456789]\d{9}$/.test(phone)) {
                    this.$toast("请填写正确的手机号");
                    return false;
                }
            },
            //发送短信
            getVerificationCode() {
                let params = {
                    account: this.loginForm.username,
                    source: "forgetmessage"
                };
            this.axios.get(this.Global.BASE_URL + "/index.php?r=web/site/sendcode", { params: params }) .then(response => {
                console.log(response);
                if (response.code == "0") {
                    this.$toast("恭喜你，信息已发送");
                }
                }).catch(response => {

                });
            },				
        }
    }

</script>
<style lang="less" scoped>
	.login-input{
        height: 46px;
        border-radius: 4px;
        border: 1px solid #E4E4E4;
      
        display: flex;
        position:relative;

        input{
            width:100%;
            font-size:14px;
            padding: 0 30px;
        }
       
        .iconfont{
            position: absolute;
            left: 10px; top: 50%;transform: translate(0, -50%);
        }
    }
    .get-code-btn{
        width:106px;
        font-size:14px;
    }

    .wl-button{
        height: 46px;
        border-radius: 4px;
        // border: 1px solid #E4E4E4;
        margin-bottom:15px;
        display: flex;
        position:relative;
         .van-button{
            width:100%;
            background-color: #23D3B5;
            border: 1px solid #23D3B5;
            font-size: 18px;
        }
    }
</style>
