<template>
	<div>
		<navBar></navBar>
        <van-tabs v-model="active2" animated @click="tabHandleClick" sticky  color="#22d3b5" line-height="2px">
			<van-tab v-for="(item,index) in [{name:'全部',val:'null'},{name:'公开课',val:'1'},{name:'VIP课',val:'2'}]" :key="index" :name="item.val" :title="item.name" >
				<van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getDataList(listQuery)" offset='20'>
					<router-link :to="{ path: '/liveDetail' , query:{id:e.id}}" class="list-item" v-for="(e,index) in list" :key="index" >
						<div class="left-box">
							<img v-if='e.sLiveImg' :src="Global.img_BASE_URL+e.sLiveImg"  />
						</div>
						<div class="right-box">
							<div class="title">{{e.sLiveName}}</div>
							<div class="p-info">
								<div style="align-items: center;display: flex;">
									<!-- <img v-if='e.headportrait' :src="Global.img_BASE_URL+e.headportrait" /> -->
									<van-image  fit="cover" v-if='e.headportrait' :src="Global.img_BASE_URL+e.headportrait" />
									<span >讲师：{{e.author}}</span>
								</div>
								<div style="color:#FF5C5C;font-size:12px;">￥{{e.price}}</div>
							</div>
						</div>
					</router-link>
				</van-list>
			</van-tab>
        </van-tabs>
	</div>
</template>
<script>
const defaultListQuery = {
    pageNum: 1,
    pageSize: 10
};
import NoData from '@/components/NoData'
import FooterBar from '@/components/FooterBar'
import navBar from '@/components/navBar'
import BScroll from "better-scroll";
import searchBar from "@/components/searchBar";

	export default {
		components: {
			NoData,
			FooterBar,
			searchBar,
			navBar
		},
		data() {
			return {
                list: [],
                loading: false,
				finished: false,
				active:null,
				active2:null,
				// foodScroll:null,
				// styleObj1: { "height": '', "width": "120px", "overflow": "hidden", 'font-size': '14px'},
                // styleObj2: { "height": '', "width": "100%", "overflow": "hidden", 'font-size': '14px'},
				listQuery: Object.assign({}, defaultListQuery,{}),
				menuList: [],
				isload:true
				// dataList:[],
				// currentIndex:0,
			}
		},
		created(){
		
		},
		cumputed:{
			
		},
		mounted(){

			this.listQuery=Object.assign({}, defaultListQuery,this.$route.query),
			console.log(this.listQuery)

		},
	
		watch: {
          
        },
		methods:{
			tabHandleClick(val,title){
				this.list=[]
                this.listQuery=Object.assign({},this.listQuery,{isAudition:val=='null' ? null:val,pageNum:1})
                this.getDataList(this.listQuery)
            },
			getMenuList(){
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/lemu`).then(response => {
					console.log(response)
					this.menuList=response.data.lemu
				})
			},
			getDataList(params){
				if(this.isload==false){
					return
				}
				this.isload=false
				this.loading=false
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/livecourseindex`,{ params: params }).then(response => {
					this.list=this.list.concat(response.data)	
					this.isload=true
					this.listQuery.pageNum++
					// this.loading=true
					if (this.list.length >= response.total) {
						this.finished = true;
						this.loading=false
					}
					if (this.listQuery.pageSize > response.data.length) {
						this.finished = true;
						this.loading=false
					}						
				})
			},

			detailHandle(item){
				// 正常进入下级页面
				if(item.liveStatus=='0'){
					this.$router.push({ path: '/Detail', query:{id:item.id}});
				}
				// 跳转直播详情
				// if(item.liveStatus=='1'){
				// 	let webUrl=`http://wap.kuaixueli.com/live/live.html#index?roomid=${item.id}`  
				// 	// window.location.href = webUrl
				// 	window.open(webUrl);   
				// }
			},
		}				
	}
</script>


<style lang="less" scoped>
	.list-item{
		display:flex;
		padding:15px;
		// border-bottom:1px solid #E4E4E4;
		background: #fff;
		.left-box{
			width: 145px;
			height: 95px;
			background: #999999;
			border-radius: 4px;
			margin-right:10px;
			img{
				width: 145px;height: 95px;
				border-radius: 4px;
			}
		}
		.right-box{
			flex: 1;
			display: flex;
			flex-direction: column;
			.title{
				font-size:16px;
				color:#333;
				flex:1;
			}
			.p-info{
				font-size:16px;color:#333;display: flex;justify-content: space-between;align-items: center;height: 32px;
				/deep/ .van-image__img{
					width:32px;height:32px;border-radius:20px;overflow: hidden;
				}
				span{
					color:#666666;font-size:14px;margin-left:10px;
				}
			}
		}
	}
	
</style>
