<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2020-11-28 18:39:56
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2020-11-29 15:11:02
-->
<template>
    <div class="no-data" style="width:60%;height:150px; position: absolute;transform: translate(-50%,-50%);top: 50%; left: 50%;">
        <div style="position: absolute;width: 100%; bottom: 0px;left: 50%;transform: translateX(-50%);text-align: center;">
            <p style="font-size: 14px;color: #999;">抱歉，没有找到你要的内容</p>
            <p style="font-size: 14px;color: #999;">请换个方式查询</p>
        </div>
        <img style="width:100%;" src="@/assets/nodata.png" >
    </div>
</template>
<script>
  export default {
  components: {
  
  },
  data() {
    return {
       

    };
  },

  beforeMount() {
      
  },
  mounted() {
   
    
  },
  
  methods: {
     
    
  },
  computed:{
    // showLoginBox(){
    //   return this.$store.state.showLoginBox
    // }
  }
};
</script>
<style lang="less" scoped>
    
</style>





