<template>
    <div style="background:#f4f4f4;">
        <div style="align-items: center;display: flex;padding: 0 15px;height: 56px;background: #666666;opacity: 0.44;color:#fff;font-size:12px;">
		   	<span>请您在24小时内完成支付，否则订单将会自取消</span>
	   </div>
       <!-- <div class="item">
		   	<span>选择收货地址</span><i class="iconfont icon-xiangyou"></i>
	   </div> -->
	   <div class="address">
			<div style="display:flex;align-items: center;">
				<i class="iconfont icon-dizhi"></i>
				<div style="padding-left:15px;">
					<div style="margin-bottom:5px;"><span style="font-size:16px;margin-right:20px;">{{data.addName}}</span><span style="font-size:12px;color:#999;">18435990000</span></div>
					<div style="font-size:14px;">
						{{data.province}} {{data.city}} {{data.county}} {{data.addRess}}
					</div>
				</div>
			</div>
			<i class="iconfont icon-xiangyou"></i>  
	   </div>
	   <div class="order-pay">
			<p style="font-size: 16px; margin-bottom: 16px; line-height: 26px;"> 课程信息  </p>
			<div  class="course-info">
				<div class="left-box">
					<img v-if="data.course" :src="Global.img_BASE_URL+data.course.sCourseImg" style="width:145px;height:99px;" :onerror="Global.defalutLogoUrl"/>
				</div>
				<div class="right-box">
					<div style="color:#333;font-size: 14px; font-weight: 400;flex:1;" v-if="data.course">{{data.course.sCourseName}}</div>
					<div style="color:#333; font-size: 12px;display:flex;justify-content: space-between;">
						<span style="color:#999;">1门课程</span><span v-if="data.course">￥{{data.course.DisPrice}}</span>
					</div>
				</div>
			</div>
        </div>

		<div class="item" @click="show = true">
		   	<span>支付方式</span> <a><span>{{payMethod=='1'?'微信':'支付宝'}}</span><i class="iconfont icon-xiangyou"></i></a>
	   </div>
	   <div class="item">
		   	<span>备注</span> <a><span>暂无</span><i class="iconfont icon-xiangyou"></i></a>
	   </div>
	   <div class="item">
		   	<span>开具发票</span> <a><span>本次不开具发票</span><i class="iconfont icon-xiangyou"></i></a>
	   	</div>
		<div class="amount-module">
			<p style="font-size: 16px; line-height: 26px;margin-bottom:5px;"> 支付信息</p>
			<div class="element"><span>订单金额 ￥{{data.orderPrice}}</span></div>
			<div class="element"><span>优惠金额 -￥00.00</span></div>
			<div class="element"><span>应付金额 ￥{{data.orderPrice}}</span></div>
	   </div>
       <div class="amount-module">
			<p style="font-size: 16px; line-height: 26px;margin-bottom:5px;"> 订单信息</p>
			<div class="element"><span>订单号 {{data.orderNum}}</span></div>
			<div class="element"><span>创建时间 {{data.dCreatTime}}</span></div>
	   </div>

	   <div class="now-buy-bar">
            <div class="price">合计：￥{{data.orderPrice}}</div>
            <div class="now-buy" @click="submitHandle">立即付款</div>
        </div>

        <van-action-sheet v-model="show" :actions="actions" @select="onSelect" :round='round'  cancel-text="取消" close-on-click-action @cancel="onCancel" title="选择支付方式" />
 	</div>      
</template>
<script>
const defaultListQuery = {
  pageNum: 1,
  pageSize: 5
};
export default {
  	components: {
  	},
  	data() {
		return {		
			data:{},
			round:false,
			payMethod:'1', //支付方式
            orderNum:null,
            show: false,
            actions: [{ name: '微信',val:'1' }, { name: '支付宝',val:'2' }],
		};
  	},
	computed:{
		submitHandleStatus:function(){
			if(this.data.DisPrice>0){
				return false
			}
			return true
		}
	},
  	beforeMount() {

  	},
  	mounted() {
		this.getOrderDetail()
  	},
 	methods: {
		onCancel(e){
			console.log(e)
		},
        onSelect(item) {
            console.log(item)
			this.show = false;
			if(item.val=='1'){
				this.payMethod='1'
			}
			if(item.val=='2'){
				this.payMethod='2'
			}
            
        },
		getOrderDetail() {
			let params={ orderNum:this.$route.query.id}
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/orderinfo`, { params: params }).then(response => {
                this.data=response.data	
                console.log(response.data.course)
            })
		},
	
		submitHandle(){
            if(this.payMethod=='1'){
                let params={
                    orderNum:this.$route.query.id
                }
                this.wechatPayment(params)
            }
            if(this.payMethod=='2'){
                let params={
                    orderNum:this.$route.query.id
                }
                this.alipayPayment(params)
            }
		},
	
		wechatPayment(params){
			this.axios.get(this.Global.BASE_URL + `/index.php?r=web/wxpay/orderwxpay`,{ params: params }).then(response => {
				if(response.code=='0'){
					// 微信收款二维码弹框
					window.location.href = response.data.code_url;
				}else{
					alert(response.msg)
				}
			})
		},
	
		

	
		//支付宝付款
		alipayPayment(params){
			this.axios.get(this.Global.BASE_URL + `/index.php?r=web/alipay/orderalipay`,{ params: params }).then(response => {
				let params
				if(this.$route.query.type=="createOrder"){
					params={ orderNum:this.orderNum}
				}else{
					params={ orderNum:this.$route.query.id}
				}
				let myurl="http://wap.kuaixueli.com/index.php?r=web/alipay/orderalipay&orderNum="+params.orderNum
			
				
        		window.open(myurl, '_blank')
			})
			
		}
	},
	beforeDestroy() {   

	},
};
</script>
<style lang="less" scoped>
	.item{
		height: 56px;
		background: rgb(255, 255, 255);
		margin-top: 10px;
		justify-content: space-between;
		display: flex;
		align-items: center;
		padding: 0 15px;
		font-size: 16px;
		.iconfont{
			color: #999;
		}
	}

	.address{
		background: rgb(255, 255, 255);
		margin-top: 10px;
		justify-content: space-between;
		display: flex;
		align-items: center;
		padding: 15px;
		font-size: 16px;
		
		.iconfont{
			color: #999;
		}
		.icon-dizhi{
			color: #23D3B5;
			font-size:30px
		}
	}


	.order-pay{
		background: #fff;
		margin-top:10px;
		padding:15px;
		.course-info{
			box-sizing: border-box;
			display: flex;
			img{
				display: block;
				border-radius: 4px;
			}
			.left-box{
				
			}
			.right-box{
				display: flex;
				flex: 1;
				flex-direction: column;
				padding-left:10px;
			}
			
		}
	}

	.amount-module{
		// height: 56px;
		background: rgb(255, 255, 255);
		margin-top: 10px;
		// justify-content: space-between;
		// display: flex;
		// align-items: center;
		padding: 15px;
		font-size: 14px;
		.element{
			margin-bottom:5px;
		}
	
	}

	.now-buy-bar{
		// position: fixed;
		margin-top: 10px;
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		display:flex;
		.price{
			color:#FF5C5C;font-size:18px;width:145px;display: flex;justify-content: center;align-items: center;flex:1;
		}
		.now-buy{
			font-size:18px;
			width: 130px;height: 56px;background: #23D3B5;display:flex;justify-content: center;align-items: center;color: #fff;
		
		}
	}

	    
</style>
