<template>
    <div style="background:#f4f4f4;">
		<navBar></navBar>

        <van-tabs v-model="active2" @click="onClick" animated sticky  line-height="2px" line-width="40px">
			<van-tab v-for="(e,index) in orderStatusList" :key="index" :title="e.name" :name="e.val" >
				<van-list v-model="loading" :finished="finished"  finished-text="没有更多了" >
					<!-- <div  > -->
                    <router-link class="order-pay" v-for="(item,index) in dataList" :key="index" :to="{ path: '/order/detail' , query:{id:item.orderNum}}"  >
                        <div class="title"> <span>订单号：{{item.orderNum}}</span>  <span style="color:#FF5C5C;">{{item.payStatus | orderStatus}}</span></div>
                        <div  class="course-info">
                            <div class="left-box">
                                <img :src="Global.img_BASE_URL+item.course.courseImg" :onerror="Global.defalutLogoUrl" />
                            </div>
                            <div class="right-box">
                                <div class="p-name">{{item.course.courseName}}</div>
                                <div class="p-text">
                                    <span style="color:#999;">1门课程</span>
                                </div>
                            </div>
                        </div>
                        <div class="button-title"> <span>创建时间：{{item.dCreatTime}}</span>  <a>合计:<span style="font-size:16px;color:#666;">￥{{item.orderPrice}}</span></a></div>
                    </router-link>
				</van-list>
			</van-tab>
        </van-tabs>
 	</div>      
</template>
<script>
const defaultListQuery = {
  pageNum: 1,
  pageSize: 10
};
navBar
import navBar from "@/components/navBar"
export default {
  	components: {
        navBar
  	},
  	data() {
		return {
            orderStatusList:[
                {name:'全部',val:"null"},
                {name:'待支付',val:"0"},
                {name:'已支付',val:"1"},
                {name:'已取消',val:"2"}],
            active2:1,
            dataList:[],
            loading: false,
			finished: false,
            listQuery: Object.assign({}, defaultListQuery),
		};
  	},
	computed:{
		
	},
  	beforeMount() {

    },
    created(){
        this.getDataList(this.listQuery)
    },
  	mounted() {
        
    },
    filters: {
        orderStatus(value) {
            switch(value){
                case '0' :
                    return '待支付';
                case '1' :
                    return '已支付';
                case '2' :
                    return '已取消';
            }
        }
    },
 	methods: {
        onClick(e,title){
            console.log(e)
             switch(e){
                case "null" :
                    this.listQuery=Object.assign({}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
                case "0" :
                    this.listQuery=Object.assign({type:e}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
                case '1' :
                    this.listQuery=Object.assign({type:e}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
                case '2' :
                    this.listQuery=Object.assign({type:e}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
            }
           
        },
		getDataList(params) {
            this.loading=true
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/myorder`,{params:params}).then(response => {
                console.log(response)
                if(response.code=='0'){
                    this.dataList=response.data
                     if(response.data.length < defaultListQuery.pageSize){
                        this.loading = false;
                        this.finished = true;
                    }
                }else{
                    this.$toast(response.msg);
                }
            })
        }
	},
	beforeDestroy() {    
		
	},
};
</script>
<style lang="less" scoped>
	

	.order-pay{
		background: #fff;
		margin-top:10px;
        display: block;
        .title{
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            color:#666;
           
            padding:15px;

        }
        .button-title{
            display: flex;
            justify-content: space-between;
            font-size: 12px;
            color:#666;
            padding:15px;
        }
		.course-info{
            border-top:1px solid #E4E4E4;
            border-bottom:1px solid #E4E4E4;
			box-sizing: border-box;
			display: flex;
            padding:15px;
			.left-box{
				img{
                    display: block;
                    border-radius: 4px;
                    width:145px;
                    height:96px;
                }
			}
			.right-box{
				display: flex;
				flex: 1;
				flex-direction: column;
                padding-left:10px;
                .p-name{
                    color:#333;font-size: 14px; font-weight: 400;flex:1;
                }
                .p-text{color:#333; font-size: 12px;display:flex;justify-content: space-between;}  
			}
			
		}
	}

	

	    
</style>
