.left-bscroll{
    width: 120px;
    overflow: hidden;
    background:#f4f4f4;
    overflow:hidden;
    font-size:14px;
}
.right-bscroll{
    flex: 1;
    overflow: hidden;
    background:#fff;
}

ul{
    width:120px;
    background: #F4F4F4;
    font-size:15px;
    text-align: center;
    li{
        height:56px;
        line-height:56px;
        position: relative;
        color:#666666;
    }
    .active{
        background:#fff;
    }
    
}
ol{
    width:100%;
    font-size:14px;
    li{
        padding:0 10px;
        margin-bottom:10px;
        .title{
            font-size: 16px;
            line-height:45px;
            color: #333333
        }
        img{
            width:100%;height:148px;border-radius: 8px;
        }
    }
}