<template>
    <div style="background:#f4f4f4;">
        <div class="video-box" id="video-box" ref="videoBox">
            <!-- cc播放器 -->
            <div id="playerContainer"></div>
            <video src="https://image.bazeskill.com//common/video/20210116/20210116132d8f3a88f3b34bd33d9aa2.mp4" v-if="isShoeVideo" controlsList="nodownload" autoplay="autoplay" loop="loop" muted="muted" x5-video-player-fullscreen="true" x5-playsinline playsinline webkit-playsinline controls="controls" width="100%" >  您的浏览器不支持 video 标签。 </video>
        </div>
        <div class="right-bscroll" ref="rightList" :style='styleObj2'>
            <div class="bscroll-container" >
                <div class="header-title-bar">
                    <a v-if="data.fabulous=='1'" @click="fabulousHandle('1')" class="default-clor"><span> 已点赞</span><i class="iconfont icon-dianzan"></i></a>
                    <a v-else @click="fabulousHandle('1')" ><span>点赞</span><i class="iconfont icon-dianzan"></i></a>
                    <a v-if="data.collection=='1'" @click="collectionHandle('1')" class="default-clor"><span> 已收藏</span><i class="iconfont icon-shoucang"></i></a>
                    <a @click="collectionHandle('1')" v-else  ><span> 收藏</span><i class="iconfont icon-shoucang"></i></a>
                    <a><span> 分享</span><i class="iconfont icon-arrow-"></i></a>
                </div>
                <div  class="data-teacher" >
                    <div class="head-portrait">
                        <van-image  width="50px" height="50px" fit="cover" v-if='data.headportrait' :src="Global.img_BASE_URL+data.headportrait" />
                    </div>
                    <div style="float:left;">
                        <div style="font-size:16px;color:#333;margin-bottom: 5px;">{{data.author}}</div>
                        <div style="font-size:12px;color:#999;">关注人数：19420</div>
                    </div>
                    <div class="product-title-btn" style="color:#fff;background: #23D3B5;cursor: pointer;margin-left: auto;" v-if="data.instructor=='1'" @click="collectionHandle('2')">+已关注</div>

                    <div class="product-title-btn" style="color:#fff;background: #23D3B5;cursor: pointer;margin-left: auto;" v-else @click="collectionHandle('2')">+关注</div>
                </div>
                <div  style="padding-top:15px;background:#f4f4f4;"></div>
                <van-tabs v-model="active" animated @click="onClick" line-width="60" line-height="2px" :sticky='true' offset-top="160">
                    <van-tab title="讲师介绍">
                        <div style="padding:15px;border-top:1px solid #E4E4E4;color:#999;">
                            <div style="font-size:14px;">{{data.author}}</div>
                            <div style="font-size:14px;">{{data.info}}</div>
                            <div style="font-size:14px;">
                                <img v-if="data.sLiveImg" :src="Global.img_BASE_URL+data.sLiveImg">
                            </div>
                        </div>
                    </van-tab>
                    <van-tab  title="课程介绍">
                        <div style="font-size:14px;padding:15px;border-top:1px solid #E4E4E4;color:#999;">{{data.sCourseInfo}}</div>
                    </van-tab>
                    <van-tab  title="课程目录">
                        <ol>
                            <li v-for="(item,index) in data.trainingvideo" :key="index" @click="videoDetailClick(item,index)" >
                            <div>
                                <span style="margin-right:20px;">{{item.sChapterName}}</span>
                                <span v-if="item.isAudition=='2'" style="color:#23D3B5">试听课</span> 
                            </div>
                            <div> <span style="font-size:12px;">{{item.dCreatTime}}</span></div>
                            </li>
                        </ol>
                        <!-- <div style="text-align:center;padding:10px 0;color:#999999;font-size:12px;background:#f4f4f4;" >已经到底啦！</div> -->
                    </van-tab>
                </van-tabs>
            </div>
        </div>

        <div class="now-buy-bar" ref="nowBuyBar" v-show="data.isAudition=='1'">
            <div class="price">￥{{data.price}}</div>
            <div class="now-buy" @click="SignUpHandle">立即购买</div>
        </div>
    </div>
</template>
<script>
const defaultListQuery = {
    pageNum: 1,
    pageSize: 5,
};
import BScroll from "better-scroll";

export default {
  components: {
  },
  data() {
      
    return {
        foodScroll:null,
        styleObj2: { "height": '', "width": "100%", "overflow": "hidden", 'font-size': '14px'},

        item:{},
        data: {},
        webUrl:null,
        listQuery: Object.assign({}, defaultListQuery),
        listLoading: true,
        total: 5,
        activeName: 'third',
        tabIndex:null,
        isShoeVideo:true,
        active:2
    };
  },

    created() {
        
    },
    mounted() {
        this.getList()
    },
    watch: {
        data(val) {
            console.log(val)
            this.$nextTick(()=>{
                this.getRightListHeight()
            });                
        },
        active(val){
            console.log(val)
             this.$nextTick(()=>{
                this.foodScroll.refresh()
            });                 
        }
    },
    methods: {
        getScrollHeight(){
            this.$nextTick(()=>{
                let height =  this.$refs.videoBox.clientHeight+this.$refs.nowBuyBar.clientHeight
                let h = document.documentElement.clientHeight || document.body.clientHeight;
                console.log(height)
                this.styleObj2["height"] = h - height+ "px"
                setTimeout(() => {
                     this.foodScroll.refresh()
                }, 1);
            })
        },
       
        getRightListHeight(){
            const listContainer = this.$refs.rightList;
            if (listContainer) {
                // const listArr = Array.from(listContainer.children[0].children[0].children);
                // listArr.forEach((item, index) => {
                //     this.shopListTop[index] = item.offsetTop-50;
                // });
                this.listenScroll(listContainer)
            }
        },
        
        listenScroll(element){
            this.foodScroll = new BScroll(element, {
                // swipeTime: 2000,
                scrollY: true,
                click: true,
                probeType: 2,
                pullUpLoad: {
                    threshold: 10
                },
               
                mouseWheel: {    // pc端同样能滑动
                    speed: 20,
                    invert: false
                },
                useTransition: false  // 防止iphone微信滑动卡顿
            });
        },
        onClick(e){
            console.log(e)
        },
        getList() {
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/courseinfo&id=${this.$route.query.id}`).then(response => {
                console.log(response)
                this.data=response.data
                this.item=response.data.trainingvideo[0]

                this.getScrollHeight()
            })
        },

        //1点赞课程 ，2点赞讲师，3点赞院校 4，点赞专业 ,5直播回放
        fabulousHandle(type){
            let params
            console.log(this.data)
            if(type=='1'){
                params={
                    sType:type,
                    fabuId:this.data.id,
                    fabulous: this.data.fabulous
                }   
            }
               console.log(params)
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/fabulous`,{ params: params }).then(response => {
                if(response.code=='0'){
                    this.$toast(response.msg);
                    this.getList()
                }else{
                    this.$toast(response.msg);
                }
            })
        },

        //1收藏课程 ，2收藏讲师，3收藏院校 4，收藏专业 ,5直播回放
        collectionHandle(type){
            let params
            if(type=='1'){
                params={
                    sType:type,
                    colleId:this.data.id,
                    collection:this.data.collection
                }   
            }
            
            if(type=='2'){
                params={
                    sType:type,
                    colleId:this.data.author,
                    collection:this.data.instructor

                }   
            }

            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/collection`,{ params: params }).then(response => {
                if(response.code=='0'){
                    this.$toast(response.msg);
                    this.getList()
                }else{
                    this.$toast(response.msg);
                }
            })
        },
        videoDetailClick(item,index){
            // class 0未报名 ,1可以正常访问  //isAudition 1需要花钱 ,2试听
            if(item.isAudition=='2'){
                //正常观看
                this.KeepWatchingHandel(item,index)
            }else{
                if(this.data.class=='0' && this.$store.state.baseUser==null){
                    this.$router.push({ path: '/login', query:{backurl:this.$route.fullPath}});
                }
                // 登录未报名
                if(this.data.class=='0' && this.$store.state.baseUser){
                    let params= {type: 'createOrder',id:this.data.id,resource_type:'1'}
                    this.$router.push({ path: `/paymentPage`,query:params})
                }
                if(this.data.class=='1' && this.$store.state.baseUser){
                   this.KeepWatchingHandel(item,index)
                }
                if(this.data.class=='1' && this.$store.state.baseUser==null){
                   this.$router.push({ path: '/login', query:{backurl:this.$route.fullPath}});
                }
            }      
        },

        SignUpHandle(){
            // 未登陆 && 要花钱
            if(this.$store.state.baseUser==null && this.data.isAudition=='1'){
               this.$router.push({ path: '/login', query:{backurl:this.$route.fullPath}});
            }else{
                let params= {type: 'createOrder',id:this.data.id,resource_type:'1'}
                this.$router.push({ path: `/paymentPage`,query:params});
            }    
        },

        KeepWatchingHandel(item,index){
            this.tabIndex=index
            this.isShoeVideo=false
            this.item=item
            // function on_CCH5player_ended(oVideo, vid) {
        //判断是否是第一个视频播放结束的回调，如果是，创建第二个视频播放
            // var search=window.location.search;
            // var vids = getSearchString('id', search);
            let vids=item.videoid
            window.createCCH5Player({
                vid:vids,
                siteid: '943DACA690744F67',
                width: '100%',
                height: '100%',
                autoStart: 'true',
                playertype:'1',
                playerid:'2B3FB1A4EF0E5691',
                //播放器容器，可以是选择器如#id或.class等，也可以是节点对象
                parentNode: '#playerContainer'
            });
            // window.onload=function(){
            //     on_CCH5player_ended();
            // }
            // this.$nextTick(() => {
            //     let ccMobplaybackUrl=`https://wap.bazeskill.com/live/mobazevideo.html?id=`+item.videoid
            //     var iframe = document.createElement("iframe");
            //         iframe.src=ccMobplaybackUrl;
            //         iframe.className="frame";
            //         iframe.id="iframe";
            //         //设置iframe的样式 
            //         iframe.style.width = '100%'; 
            //         iframe.style.height = '100%'; 
            //         iframe.style.margin = '0'; 
            //         iframe.style.padding = '0'; 
            //         iframe.style.overflow = 'hidden'; 
            //         iframe.style.border = 'none'
            //         iframe.scrolling = '0'
            //         iframe.frameborder = '0'
            //         if(document.getElementById("iframe")){
            //             document.getElementById("video-box").removeChild(document.getElementById("iframe"))
            //         }
            //         document.getElementById("video-box").appendChild(iframe);
            // });
        },
  }
};
</script>
<style lang="less" scoped>
    @import  "../liveDetail/style/index.less";
	.right-bscroll{
		flex: 1;
		overflow: hidden;
        background:#fff;
        padding-bottom: 60px;
	}
   
</style>






