<template>
<div style="padding-bottom:60px;">
    <navBar></navBar>
    <div class="data-img">
        <van-image height="200" v-if="item.sMajorImg" :src="Global.img_BASE_URL+item.sMajorImg" />
        <div style="display: flex; align-items: center;justify-content: space-between;margin-bottom:5px;"><span style="font-size:18px;">{{item.sName}}</span><span style="font-size:14px;color:#666;">累计报读：{{item.sEnroll}}</span></div>
        <div style="font-size:12px;color:#666;"> {{item.sTitle}}</div>
    </div>
    <van-tabs v-model="active" animated  @click="handleClick" sticky  color="#22d3b5" line-height="2px">
        <van-tab title="专业介绍"  name="first">
            <div class="strhtml" v-html="strhtml"></div>
        </van-tab>
        <van-tab title="报名须知"  name="second">
            <div class="strhtml" v-html="strhtml"></div>
        </van-tab>
        <van-tab title="考试与毕业"  name="third">
            <div class="strhtml" v-html="strhtml"></div>
        </van-tab>
    </van-tabs>
    <div class="now-buy-bar">
        <div class="price">报名咨询</div>
        <div class="now-buy" @click="show=true">立即报名</div>
    </div>
    <van-popup v-model="show" position="bottom" closeable :style="{ height: '80%' }">
        <div style="padding:30px 15px 15px 15px;border-bottom:1px solid #E4E4E4;">
            <div style="display: flex;margin-bottom: 20px;">
                <div style=" width: 146px; height: 96px; background: #999999; border-radius: 4px;overflow:hidden;">
                    <van-image height="96px" v-if="item.sMajorImg" :src="Global.img_BASE_URL+item.sMajorImg" />
                </div>
                <div style="display: flex;flex-direction: column;padding-left: 10px;">
                    <div style="font-size:16px;color:#333333;flex:1;">网络工程</div>
                    <div style="font-size:14px;color:#666;line-height:22px;">东北师范大学</div>
                </div>
            </div>

            <div style="font-size:14px;color:#666666;margin-bottom: 15px;">选择层次</div>
            <ul>
                <li v-for="(e,index) in item.sArrangement" :key="index" >{{e | sArrangementFilter}}</li>
            </ul>
        </div>

        <div style="padding:15px;">
            <div style="font-size:14px;color:#666666;margin-bottom: 15px;">选择院校</div>
            <ul>
                <li v-for="(e,index) in item.sSchooName" :key="index" @click="getDetail(e,index)" :class="currentIndex==index? 'school-active':'school-default'">{{e.sSchooName}}</li>  
            </ul>
        </div>
        <div class="now-buy-bar">
            <div class="price" >报名咨询</div>
            <div class="now-buy" @click="signUpHandle(item)">立即报名</div>
        </div>
    </van-popup>
</div>
</template>
<script>
const defaultListQuery = {
  pageNum: 1,
  pageSize: 10,
};
import NoData from "@/components/NoData";
import FooterBar from "@/components/FooterBar";
import searchBar from "@/components/searchBar";
import navBar from "@/components/navBar";

import { mapState, mapMutations } from "vuex";
export default {
    components: {
        NoData,
        FooterBar,
        searchBar,
        navBar,
    },
    data() {
        return {
            currentIndex:0,
            active: "0",
            strhtml:null,
            item:{},
            show:false,

        };
    },
    created() {

    },
    cumputed: {

    },
    mounted() {
        this.getDataList(this.$route.query)
    },

    watch: {

    },
    filters: {
        sellsFilter(value) {
            if(!value) {
                return '0';
            } else {
                return value
            }
        },
        sFeaturesFilter(element){
            let str
            if(element=='1') {
                str= '双一流'
            }else if(element=='2'){
                str="985工程"
            }else if(element=='3'){
                str="211工程"
            }else if(element=='4'){
                str="教育部直属"
            }else if(element=='5'){
                str="省部委共建"
            }else if(element=='6'){
                str="省属重点"
            }else if(element=='7'){
                str="省部共建"
            }else if(element=='8'){
                str="省教育厅直属"
            }else{
                str= 'N/A'
            }
            return str
        },
        sLabelFilter(element){
            let str
            if(element=='1') {
                str= '录取快'
            }else if(element=='2'){
                str="院校推荐"
            }else if(element=='3'){
                str="特殊专业"
            }
            return str
        },
        
        sArrangementFilter(element){
            let str
            if(element=='1') {
                str= '高起专'
            }else if(element=='2'){
                str="高起本"
            }else if(element=='3'){
                str="专升本"
            }    
         return str
        }
    },
    methods: {
        signUpHandle(item){

            const obj={
                sName:item.sName,
                sSchooName:item.sSchooName[this.currentIndex].sSchooName,
                sYear:item.sYear,
                sMajorImg:item.sMajorImg,
                sid:item.sid,
                sArrangement:item.sArrangement
            }
            console.log(obj)

            let params=JSON.stringify(obj).replace(/%/g, '%25');

            this.$router.push({ path: '/educationPromotion/majorDetailSubmit', query: { params: params}})
        },
        getDetail(item,index){
            this.currentIndex=index
            // this.getDataList({sid:item.sid})
        },
        handleClick(name, title) {
            if(name=="first"){
                this.strhtml=this.item.sIntroduce
            }
            if(name=="second"){
                this.strhtml=this.item.sNotice
            }
            if(name=="third"){
                this.strhtml=this.item.sGraduation
            }
        },
        getDataList(params){
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/specialityinfo`,{ params: params }).then(response => {
                console.log(response)
                this.item=response.data
                this.strhtml=response.data.sIntroduce
            })
        }
    }
};
</script>

<style lang="less" scoped>
.data-img{
    padding:0 15px 15px 15px;
    background: #fff;
    .van-image{
        width:100%;height: 200px;background: #999999;border-radius: 4px;overflow:hidden;margin-bottom: 15px;
    }
}
.now-buy-bar{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    background: #fff;
    display:flex;
    .price{
        color:#333;font-size:16px;display: flex;flex:1;justify-content: center;align-items: center;flex:1;
    }
    .now-buy{
        font-size:18px;
        width: 230px;height: 56px;background: #23D3B5;display:flex;justify-content: center;align-items: center;color: #fff;
    
    }
    
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
ul li{
    width: 32%;
    height: 44px;
    background: #F6F6F6;
    border-radius: 4px;
    font-size:14px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 44px;

}

.school-default {
    color:#333333;

}
.school-active {
    color: #23D3B5 !important;
}
  
</style>
