<template>
	<div>
		<navBar></navBar>

		<ul class="filter-bar">
            <li @click="cityClickHandle(1)">
                专业方向 <i class="iconfont icon-xiangshang2"></i>
            </li>
            <li @click="cityClickHandle(2)">
                专业分类 <i class="iconfont icon-xiangshang2"></i>
            </li>
            <li @click="cityClickHandle(3)">
                选择层次 <i class="iconfont icon-xiangshang2"></i>
            </li>
        </ul> 
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getDataList(listQuery)" offset='20'>
            <router-link v-for="(item,index) in list" :key="index" :to="{ path: '/educationPromotion/majorList/detail' , query:{sid:item.sid,sMajorId:item.sMajorId,sMajorTowId:item.sMajorTowId}}" class="list-item"  >
                <div class="left-box">
                    <img v-if='item.sMajorImg' :src="Global.img_BASE_URL+item.sMajorImg"  />
                </div>
                <div class="right-box">
                    <div class="title">{{item.sName}}</div>
                    <div class="school">
                        <img v-if='item.sMajorImg' :src="Global.img_BASE_URL+item.sMajorImg"  />
                        <span style="margin-left:15px;">{{item.sSchooName}}</span> 
                    </div>
                    <div style="font-size:12px;display:flex;justify-content: space-between;">
                        <div>层次：高起专</div>
                        <div>学制：2.5年</div>
                    </div>
                </div>
            </router-link>
        </van-list>

       <van-popup v-model="show" position="bottom" :style="{ height: '40%' }">
           <van-picker
                title="标题"
                show-toolbar
                :columns="option1"
                @confirm="onConfirm"
                @cancel="onCancel"
                @change="onChange"
            />
       </van-popup>
	</div>
</template>
<script>
const defaultListQuery = {
    pageNum: 1,
    pageSize: 10
};
import NoData from '@/components/NoData'
import FooterBar from '@/components/FooterBar'
import searchBar from "@/components/searchBar";
import navBar from "@/components/navBar";



	export default {
		components: {
			NoData,
			FooterBar,
            searchBar,
            navBar
		},
		data() {
			return {
                type:null,
                toggle:false,
                option1: [],
                show:false,
                list: [],
                loading: false,
				finished: false,
				listQuery: Object.assign({}, defaultListQuery,{}),
				menuList: null,
				isload:true
			
			}
		},
		created(){
            this.getMenuList()
		},
		cumputed:{
			
		},
		mounted(){
			this.listQuery=Object.assign({}, defaultListQuery,this.$route.query),
			console.log(this.listQuery)
		},
		watch: {
          
        },
		methods:{
            tabClick(item) {
            let params= 
            this.$router.push({ path: `/majorDetail`,query:params});
        },
            onConfirm(value, index) {
                this.$toast(`当前值：${value}, 当前索引：${index}`)
                if(this.type=='1'){
                    this.listQuery=Object.assign({}, defaultListQuery,{sMajorId:this.menuList.majo[index].cid}),
                    console.log(this.listQuery)
                    this.show=false
                    this.list=[]
                    this.getDataList(this.listQuery)
                }
                if(this.type=='2'){
                    // this.listQuery=Object.assign({}, defaultListQuery,{fid:this.menuList.sFeatures[index].fid}),
                    // console.log(this.listQuery)
                    // this.show=false
                    // this.list=[]
                    // this.getDataList(this.listQuery)
                }
                if(this.type=='3'){
                    this.listQuery=Object.assign({}, defaultListQuery,{sArrangement:this.menuList.arrangementList[index].value}),
                    console.log(this.listQuery)
                    this.show=false
                    this.list=[]
                    this.getDataList(this.listQuery)
                }
            },
            onChange(picker, value, index) {
                this.$toast(`当前值：${value}, 当前索引：${index}`);
            },
            onCancel() {
                this.$toast('取消');
            },
            cityClickHandle(val){
                this.type=val
                if(val=='1'){
                    this.show=true
                    let arr=[]
                    this.menuList.majo.forEach(element => { arr.push(element.sMajorName)});
                    this.option1=arr
                }
                if(val=='2'){
                    // this.show=true
                    // let arr=[]
                    // this.menuList.sFeatures.forEach(element => {  arr.push(element.features)});
                    // this.option1=arr
                }
                if(val=='3'){
                    this.show=true
                    let arr=[]
                    this.menuList.arrangementList.forEach(element => {  arr.push(element.name)});
                    this.option1=arr
                }
            },
			
			getMenuList(){
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/major`).then(response => {
                    console.log(response.data)
                    
                    let list=[
                        { value:1,name:'高起专' },
                        { value:2,name:'高起本' },
                        { value:3,name:'专升本' } 
                    ]
                    response.data["arrangementList"]=list
                    this.menuList=response.data

                    console.log( this.menuList)
                  
				})
			},
			getDataList(params){
				if(this.isload==false){
					return
				}
				this.isload=false
				this.loading=false
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/speciality`,{ params: params }).then(response => {
					this.list=this.list.concat(response.data)	
					this.isload=true
					this.listQuery.pageNum++
					if (this.list.length >= response.total) {
						this.finished = true;
						this.loading=false
					}
					if (this.listQuery.pageSize > response.data.length) {
						this.finished = true;
						this.loading=false
					}						
				})
			}
		}				
	}
</script>


<style lang="less" scoped>

    .filter-bar{
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        font-size: 14px;
        background: #fff;
        border-bottom: 1px solid #e4e4e4;
        position: -webkit-sticky;
        position: sticky;/*兼容*/
        top: 0;
        left: 0;
        li{
            display: flex;
            align-items: center;
        }
        .iconfont{
            font-size: 10px;
            color: #666;
            padding-left:8px;
        }
    }
    

	.list-item{
		display:flex;
		padding:15px;
        border-bottom:1px solid #E4E4E4;
        background: #fff;
		.left-box{
			// width: 90px;
			// height: 90px;
			border-radius: 4px;
			margin-right:10px;
			img{
                width: 156px;
                height:102px;
                border-radius: 4px;
                display: block;
            }
            
		}
		.right-box{
			flex: 1;
			display: flex;
			flex-direction: column;
			.title{
				font-size:16px;
				color:#333;
            }
            .school{
                font-size:14px;
                color:#666;
                display:flex;
                flex:1;
                align-items: center;
                img{
                    width: 32px;
                    height:32px;
                    border-radius: 32px;
                    display: block;
                }
            }
			.p-info{
				font-size:12px;
			
			}
		}
	}
	
</style>
