<template>
	<div style="height:100%;">
        <navBar></navBar>
        <certificate></certificate>
	</div>
</template>
<script>
import navBar from '@/components/navBar'
import certificate from "@/components/certificate";
	export default {
		components: {
			navBar,
			certificate
		},
		data() {
			return {
				
			}
		},
		created(){
			
		},
		cumputed:{
			
		},
		mounted(){
			
		},

		watch: {
           
        },
		methods:{
			
			
		}				
	}
</script>


<style lang="less" scoped>

	
</style>
