<!--
 * @Descripttion: 
 * @version: 
 * @Author: sueRimn
 * @Date: 2021-01-16 20:43:05
 * @LastEditors: Please set LastEditors
 * @LastEditTime: 2021-01-16 22:56:22
-->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1.0"> -->
    <meta name ="viewport" content ="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
   
    <link rel="stylesheet" href="//at.alicdn.com/t/font_693582_sywm6vstd98.css">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
</body>

</html>

<script src="//view.csslcloud.net/js/jquery-1.9.0.min.js" type="text/javascript"></script>
<!-- cc播放器 -->
<script src="https://p.bokecc.com/player?autoStart=false&playertype=1&newversion=true&player_version=2.1.0"  type="text/javascript"></script>
<!-- cc回放SDK -->
<script src="//view.csslcloud.net/js/sdk/3.6.0/playbackSDK.js" type="text/javascript"></script>
<!-- 在线客服 -->
<!-- <script src="https://probe.bjmantis.net/chat/jquery-1.12.4.min.js"></script> -->
<script src="https://chatn9.bjmantis.net/chat/js/dist/mantis.min.js?6279#5fd890cd366ec93dc27d4603"></script>