<template>
	<div class="home">
		<Loop></Loop>
		<div style="display:flex;background:#fff; padding: 15px 0;">
			<router-link :to="{ path: item.path, query:{pid:item.pid}}" style="display:flex;flex:1;flex-direction:column;align-items: center;font-size:16px; color:#303030" v-for="(item,index) in navList" :key="index" >
				<img  :src="item.src" style="height:46px;width:46px;border-radius: 16px;" /> 
				<div style="margin-top:5px;">{{item.name}}</div>
			</router-link>
		</div>
		<div style="display:flex;background:#fff; padding: 15px 0;">
			<router-link :to="{ path: item.path, query:{pid:item.pid}}" style="display:flex;flex:1;flex-direction:column;align-items: center;font-size:16px; color:#303030" v-for="(item,index) in navList2" :key="index" >
				<img  :src="item.src" style="height:46px;width:46px;border-radius: 16px;" /> 
				<div style="margin-top:5px;">{{item.name}}</div>
			</router-link>
			<a style="display:flex;flex:1;flex-direction:column;align-items: center;font-size:16px; color:#303030" href="javascript:void(0);" onclick="mantis.requestChat()">
				<img  :src="require('@/assets/home/5.png')"  style="height:46px;width:46px;border-radius: 16px;" /> 
				<div style="margin-top:5px;">在线客服</div>
			</a>
		</div>
		<liveList v-if="liveList" :productType="'2'" :navList="[]" :title="'直播课程'" :dataList.sync="liveList" ></liveList>
		<videoList v-if="dataBase.course" :productType="'1'" :navList="[]" :title="'录播课程'" :dataList.sync="dataBase.course" ></videoList>
		<FooterBar></FooterBar>
	</div>
</template>
<script>
	import Loop from "@/components/Loop";
	import liveList from "@/components/home/liveList";
	import videoList from "@/components/home/videoList";
	import FooterBar from "@/components/FooterBar";
	const defaultListQuery = {
		pageNum: 1,
		pageSize: 10
	};
	export default {
		components: {
			Loop,
			liveList,
			videoList,
			FooterBar
		},
		data() {
			return {
				listQuery: Object.assign({}, defaultListQuery,{}),
				navList:[
					{ src: require('@/assets/home/1.png'), name: "心理咨询", path:'/videoList', pid: 8 },
					{ src: require('@/assets/home/2.png'), name: "人力资源", path:'/videoList', pid: 44 },
					{ src: require('@/assets/home/3.png'), name: "考研课程", path:'/videoList', pid: 56 },
					{ src: require('@/assets/home/4.png'), name: "教师资格", path:'/videoList', pid: 47 },
				],
				navList2:[
					{ src: require('@/assets/home/6.png'), name: "合作院校", path:'/educationPromotion',id: 27 },
					{ src: require('@/assets/home/7.png'), name: "合作加盟", path:'/cooperation_alliance',id: 27 },
					{ src: require('@/assets/home/8.png'), name: "学历查询", path:'/query_education',id: 27 },
				],
				dataBase:{},
				liveList:[],
				listStatus:true
			}
		},
		created(){
			this.getList()
			this.getliveList()
		},
		methods:{

			getliveList() {
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/livecourseindex`,{ params: this.listQuery }).then(response => {
					if(response.code=='0')
					this.liveList=response.data
				})
			},
			getList() {
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/index`).then(response => {
					console.log(response)
					this.dataBase=response.data
				})
			}
		}				
	}
</script>
<style lang="less" scoped>
	.home{
		padding-bottom: 60px;
	}

</style>
