<template>
    <div class="nav-box">
        <a v-for="(item,index) in items" :key="index" @click="routerLink(item,index)" :class="{ 'item-active' : currentIndex == index}">
            <div><img :src="currentIndex == index ? item._img:item.img" /> </div>
            <div>{{item.text}}</div>
        </a>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                items: [
                    { path: "/home", text: "首页", icon: "icon-shouye1", img:require('../../assets/footer/1.png'),  _img:require('../../assets/footer/1e.png')},
                    { path: "/live", text: "直播", icon: "icon-zhibozhong-0", img:require('../../assets/footer/2.png'),  _img:require('../../assets/footer/2e.png')},
                    { path: "/video", text: "录播", icon: "icon-zhibo1", img:require('../../assets/footer/3.png'),  _img:require('../../assets/footer/3e.png')},
                    { path: "/educationPromotion", text: "学历", icon: "icon-edu-line",img:require('../../assets/footer/4.png'),  _img:require('../../assets/footer/4e.png')},
                    { path: "/userCenter", text: "我的", icon: "icon-wode", img:require('../../assets/footer/5.png'),  _img:require('../../assets/footer/5e.png')},
                ]
            };
        },
        computed:{
            currentIndex:function(){
                return this.$store.state.currentIndex
            } 
        },
        mounted() {
            console.log(this.$store.state.currentIndex)
            console.log(this.$route)
            switch(this.$route.path) {
                case '/':
                    this.$store.commit('changeActive', 0);
                    break;
                case '/home':
                    this.$store.commit('changeActive', 0);
                    break;
                case '/live':
                    this.$store.commit('changeActive', 1);
                    break;
                case '/video':
                    this.$store.commit('changeActive', 2);
                    break;
                case '/educationPromotion':
                    this.$store.commit('changeActive', 3);
                    break;
                case '/userCenter':
                    this.$store.commit('changeActive', 4);
                    break;
                default:
                    this.$store.commit('changeActive', 0);
                    break;
            } 
        },
        methods: {
           routerLink(item,index) {
                this.$store.commit('changeActive', index);
                this.$router.push(item.path);
            },
           
        }
    };
</script>
<style lang="scss" scoped>
    .nav-box {
        height: 50px;
        display: flex;
        align-items: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #fff;
        border-top: 1px solid #eee;
        font-size: 12px;
        img{
            width:20px;
        }
        a {
            flex: 1;
            text-align: center;
        }
    }

    .item-active {
        color: #23D3B5 !important;
    }

   
</style>