<template>
    <div class="search-bar">
        <div class="top-left"  @click="$router.back(-1)">
            <i class="iconfont icon-fanhui"></i>
        </div>
        <div class="searchInput">
            <i class="iconfont icon-iconfontzhizuobiaozhun22"></i>
            <input placeholder="请输入商品名称">
        </div>
       
        <div class="top-right" >
           搜索
        </div>
       
    </div>
</template>
<script>
    export default {
        data() {
            return {

            }
        },
        mounted() {

        },
       
        methods: {
            goBack() {
                this.$route.go(-1)
            },

            //统计组件之间调用
          

        },

    }
</script>
<style lang="less" scoped>
    .search-bar{
        background: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 14px;
        padding:10px 0;
    }

    .top-left{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        font-size: 17px;
        font-weight: bold;
    }
    .top-right{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        color:#23D3B5
    }

    .searchInput{
        flex: 1;
        background: #f4f4f4;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        height: 40px;
        input{
            background: transparent;
            padding-left: 5px;
        }
    }
</style>