<template>
    <div style="background:#f4f4f4;">
		<navBar></navBar>
        <van-tabs v-model="active2" @click="onClick" animated sticky color="#22d3b5" line-height="2px" line-width="40px">
			<van-tab v-for="(e,index) in orderStatusList" :key="index" :title="e.name" :name="e.val" >
				<van-list v-model="loading" :finished="finished"  finished-text="没有更多了" >
                    <router-link class="course-info" v-for="(item,index) in dataList" :key="index" :to="{ path: '/videoDetail' , query:{id:item.id}}"  >
                        <div class="left-box">
                            <img :src="Global.img_BASE_URL+item.colleImg" :onerror="Global.defalutLogoUrl" />
                        </div>
                        <div class="right-box">
                            <div class="p-name">{{item.Collection}}</div>

                            <div class="p-text">
                                <span style="color:#999;">课程时间：2020.11.12-2.22</span>
                            </div>
                        </div>
                    </router-link>
				</van-list>
			</van-tab>
        </van-tabs>
 	</div>      
</template>
<script>
const defaultListQuery = {
  pageNum: 1,
  pageSize: 10
};
navBar
import navBar from "@/components/navBar"
export default {
  	components: {
        navBar
  	},
  	data() {
		return {
            orderStatusList:[
                // {name:'全部',val:"null"},
                {name:'录播课',val:"1"},
                {name:'直播课',val:"5"}
            ],
            active2:1,
            dataList:[],
            loading: false,
			finished: false,
            listQuery: Object.assign({type:'1'}, defaultListQuery),
		};
  	},
	computed:{
		
	},
  	beforeMount() {

    },
    created(){
        this.getDataList(this.listQuery)
    },
  	mounted() {
        
    },
    filters: {
        
    },
 	methods: {
        onClick(e,title){
            console.log(e)
             switch(e){
               
                case "1" :
                    this.listQuery=Object.assign({type:e}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
                case '5' :
                    this.listQuery=Object.assign({type:e}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
            }
           
        },
		getDataList(params) {
            this.loading=true
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/collectionindex`,{params:params}).then(response => {
                console.log(response)
                if(response.code=='0'){
                    this.dataList=response.data
                     if(response.data.length < defaultListQuery.pageSize){
                        this.loading = false;
                        this.finished = true;
                    }
                }else{
                    this.$toast(response.msg);
                }
            })
        }
	},
	beforeDestroy() {    
		
	},
};
</script>
<style lang="less" scoped>
    .course-info{
        background: #fff;
        border-bottom:1px solid #E4E4E4;
        box-sizing: border-box;
        display: flex;
        padding:20px 15px;
        .left-box{
            img{
                display: block;
                border-radius: 4px;
                width:145px;
                height:96px;
            }
        }
        .right-box{
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-left:10px;
            .p-name{
                color:#333;font-size: 14px; font-weight: 400;flex:1;
            }
            
            .p-text{color:#999; font-size: 12px;display:flex;justify-content: space-between;}  
        }
    }	    
</style>
