<template>
    <div class="user-center">
       <div class="header">
           <div class="bg_img">
                <div class="top-module" v-if="$store.state.baseUser" >
                    <div>{{$store.state.baseUser.sNick}}</div>
                    <img :src="$store.state.baseUser.headportrait ? Global.img_BASE_URL+$store.state.baseUser.headportrait: require('@/assets/collegeDetail/left-zhaosheng.png')" />
                </div>
                <router-link class="top-module"  v-else :to="{ path: '/login' , query:{id:'23'}}" >登录/注册</router-link>
            </div>
        
            <waves></waves>
       </div>
        

        <div class="info-module">
            <router-link class="top-module" :to="{ path: '/userCenter/teacher', query:{id:'23'}}" >
                <span>0</span>
                <span>关注</span>
            </router-link>
 
            <a>
                <span>0</span>
                <span>消息</span>
            </a>
            <router-link class="top-module" :to="{ path: '/userCenter/collection', query:{id:'23'}}" >
                <span>0</span>
                <span>收藏</span>
            </router-link>
        </div>

        <ul>
            <li v-for="(item,index) in dataList" :key="index" @click="tabClick(item)">
                <div style="display: flex;align-items: center;">
                    <i class="iconfont " :class="item.icon"></i>
                    <span style="margin-left:15px;">{{item.name}}</span>
                </div>
                <i class="iconfont icon-xiangyou"></i>
            </li>
            <li onclick="mantis.requestChat()">
                <div style="display: flex;align-items: center;">
                    <i class="iconfont icon-kefu1"></i>
                    <span style="margin-left:15px;">联系客服</span>
                </div>
                <i class="iconfont icon-xiangyou"></i>
            </li>
            <li @click="handleSignOut">
                <div style="display: flex;align-items: center;">
                    <i class="iconfont icon-tuichudenglu"></i>
                    <span style="margin-left:15px;">退出登录</span>
                </div>
                <i class="iconfont icon-xiangyou"></i>
            </li>
        </ul>
        <FooterBar></FooterBar>
    </div>
</template>
<script>

import FooterBar from "@/components/FooterBar"
import waves from "@/components/waves"

import mixin from '@/mixin'; 
	export default {
        mixins: [mixin],
		components: {
            FooterBar,
            waves
		},
		data() {
			return {
                wave:null,
				dataList: [
                    {name:"我的课程",path:'lesson',icon:'icon-wodekecheng'},
                    // {name:"我的收藏",path:'collection',icon:'icon-fav'},
                    {name:"我的订单",path:'Orders',icon:'icon-wodedingdan2'},
                    {name:"个人信息",path:'information',icon:'icon-gerenxinxi'},
                    {name:"收货地址",path:'AddressManagement',icon:'icon-dizhi'},
                    {name:"发票申请",path:'invoiceManagement',icon:'icon-fapiaoguanli'},
                    {name:"我的证书",path:'certificate',icon:'icon-zhengshu'},
                ],
			}
		},
		methods:{
           
			tabClick(item){
                 switch(item.path){
                    case "lesson" :
                        this.$router.push({ path: `/userCenter/lesson`});
                        break;
                    case 'Orders' :
                        this.$router.push({ path: `/order`,query:''});
                        break;
                    case 'AddressManagement' :
                        this.$router.push({ path: `/address/list`,query:''});
                        break;
                    case 'invoiceManagement' :
                        this.comName = "invoiceManagement";
                        break;
                    case 'certificate' :
                        this.$router.push({ path: `/certificate`});
                        break;   
                    case 'information' :
                        this.$router.push({ path: `/userCenter/information`});
                        break;   
                }
            }
        },
        mounted(){

            console.log(this.$store.state)
        }				
	}
</script>

<style lang="less" scoped>
    .user-center{
        padding-bottom: 50px;
        // background: #fff;

    }
    .header{
        position: relative;
        text-align: center;
       
        // background: linear-gradient( 60deg , rgba(34, 211, 181, 0.1) 0%, rgba( 34, 211, 181, 1) 100%);
        // background: linear-gradient( 60deg , rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
        background: rgba( 34, 211, 181, 1);
        background: rgba( 34, 211, 181, 1);
        background: rgba( 34, 211, 181, 1);

        // color: white;
        // height: 220px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .bg_img {
        display: flex;
        justify-content: center;
        flex: 1;
        // background: rgba( 34, 211, 181, 1);
        // background: linear-gradient( 60deg , rgba(34, 211, 181, 0.1) 0%, rgba( 34, 211, 181, 1) 100%);
        height: 180px;
        // background: -webkit-linear-gradient(#23D3B5,#afdfd7);
        // background: -o-linear-gradient(#23D3B5,#afdfd7);
        // background: -moz-linear-gradient(#23D3B5,#afdfd7);
        // background: -mos-linear-gradient(#23D3B5,#afdfd7);
        // background: linear-gradient(#23D3B5,#afdfd7);
        // background-size: 100% 100%;
        // background-position: top right;
        // background-repeat: no-repeat;
    .top-module{
        font-weight:600;
        font-size: 24px;
        color:#fff;
        text-align:center;
        position: relative; 
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        img{
            height:66px;
            width:66px;
            border-radius:66px;
            box-shadow:0px -3px 6px 0px rgba(139, 138, 138, 0.5);
            margin-top:20px;
        }
    }
   
 }
 
.info-module{
    background:rgba(255,255,255,1); 
    // border-radius:8px;
    display:flex;
    padding:15px 0;
    margin-bottom:15px;
    font-size:16px;

    a{
        height:46px;
        display:flex;
        flex:1; 
        align-items: center;
        justify-content: center; 
        border-right:1px solid #F1F1F1;
        flex-direction: column;
        &:last-child{
            border-right:0
        }
        span {
            &:first-child{
                color:#303030;
            }
            &:last-child{
                color:#8D8D8D;
            }
        }
        
    }
   
   
}

ul{
    // border-radius:8px;
    color:#666;
    font-size: 16px;
    // margin: 0 15px;
    overflow: hidden;
    margin-bottom:15px;
    li{
        cursor: pointer;
        height: 53px;
        padding: 0 15px;
        border-bottom: 1px solid #F1F1F1; 
        display: flex; 
        align-items: center;
        justify-content: space-between;
        background:rgba(255,255,255,1);
        .iconfont{
            color:#999;
        }
    }
}

</style>
