<template>
	<div >
		<navBar></navBar>
        <ul>
            <li>
				<div class="lable">头像</div>  
				<van-uploader  :after-read="afterRead">
					<div class="right-box" >
						<img :src="$store.state.baseUser.headportrait==null? require('@/assets/collegeDetail/left-zhaosheng.png') : Global.img_BASE_URL+ $store.state.baseUser.headportrait" />	
					</div>
				</van-uploader>
				<i class="iconfont icon-xiangyou"></i>
				
			</li>
         
			<li>
				<div class="lable">用户名</div>  
				<div class="right-box" >
					{{form.sNick}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
			<li>
				<div class="lable">真实姓名</div>  
				<div class="right-box">
					{{form.realName}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
		</ul>
		<ul>
			<li>
				<div class="lable">性别</div>  
				<div class="right-box" >{{form.sex}}</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
			
			<li>
				<div class="lable">职业</div>  
				<div class="right-box" >
					{{form.occupation}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
			<li>
				<div class="lable">教育程度</div>  
				<div class="right-box">
					{{form.occupation}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
		</ul>

		<ul>
			<li>
				<div class="lable">手机号</div>  
				<div class="right-box" >
					{{form.sPhone}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
			<li>
				<div class="lable">微信号</div>  
				<div class="right-box" >
					{{form.wxNum}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
			<li>
				<div class="lable">QQ号</div>  
				<div class="right-box">
					{{form.wxNum}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>

			<li @click="show=true"> 
				<div class="lable">地址</div>  
				<div class="right-box">
					{{form.province}}
				</div>
				<i class="iconfont icon-xiangyou"></i>
			</li>
        </ul>
	</div>
</template>
<script>


import navBar from '@/components/navBar'
	export default {
		components: {
			navBar
		},
		data() {
			return {
				form:{}
			}
		},
		created(){
			
		},
		cumputed:{
			
		},
		mounted(){
			
			this.form=this.$store.state.baseUser
		},

		watch: {
           
        },
		methods:{
			afterRead(res){
				let param = new FormData(); //创建form对象
				param.append('UploadForm[imageFile]',res.file);//通过append向form对象添加数据
				console.log(param.get('file')); //FormData私有类对象，访问不到，可以通过get判断值是否传进去
				let config = {headers:{'Content-Type':'multipart/form-data'}}; //添加请求头
				this.axios.post(this.Global.BASE_URL+'/index.php?r=web/upload/upload',param,config).then(response=>{
					if(response.code=='0'){
						let params=response.data.url
						this.updateUser(params)
					};
				})
			},
		
			updateUser(url){
					let params={
						iUserID:this.form.iUserID,
						headportrait:url
					}
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/useredit`,{ params: params }).then(response => {
					if(response.code=='0'){
						this.form.headportrait=url
						this.$store.commit("changeLogin", this.form);
						this.$toast("编辑成功");
					}else{
						this.$toast("编辑失败");
					}
					
				})
			}
		}				
	}
</script>


<style lang="less" scoped>
ul{
	margin-bottom:20px;
    li{    
        background: #fff;
		justify-content: space-between;
		display: flex;
		align-items: center;
        font-size: 16px;
        color:#666;
		border-bottom:1px solid #e4e4e4;
		min-height: 56px;
		box-sizing: border-box;
		padding: 10px 15px;
		.right-box{
			padding-left: 40px;
			align-items: center;
			justify-content: space-between;
			display: flex;
            
            img{
                width:60px;
                height:60px;
                border-radius: 8px;
            }
		}
		.lable{
			flex: 1;
		}
		.iconfont{
			margin-left:5px;
			font-size:14px;
			color: #999;
		}
		
	}
}
	
	
</style>
