<template>
    <div style="background:#f4f4f4;">
		<navBar></navBar>
        <!-- <van-tabs v-model="active2" @click="onClick" animated  color="#22d3b5">
			<van-tab v-for="(e,index) in orderStatusList" :key="index" :title="e.name" :name="e.val" > -->
				<van-list v-model="loading" :finished="finished"  finished-text="没有更多了" >
                    <a class="course-info" v-for="(item,index) in dataList" :key="index">
                        <div class="left-box">
                            <img :src="Global.img_BASE_URL+item.colleImg" :onerror="Global.defalutLogoUrl" />
                        </div>
                        <div class="right-box">
                            <div class="p-name"><span style="font-size:18px;color:#333;">{{item.Collection}}</span><span style="font-size:12px;color:#999;">2424粉丝</span></div>
                            <div class="p-text">
                                <span style="color:#999;">女 </span>
                                <span style="color:#999;">河南</span>
                                <span style="color:#999;">心理咨询师</span>
                            </div>
                            <div style="display: flex;margin-top:15px;">
                                <div class="p-btn">已关注</div>
                                <div class="p-btn">私信</div>
                            </div>
                        </div>
                    </a>
				</van-list>
			<!-- </van-tab>
        </van-tabs> -->
 	</div>      
</template>
<script>
const defaultListQuery = {
  pageNum: 1,
  pageSize: 10
};
navBar
import navBar from "@/components/navBar"
export default {
  	components: {
        navBar
  	},
  	data() {
		return {
            orderStatusList:[
                {name:'全部',val:"null"},
                {name:'录播课',val:"1"},
                {name:'直播课',val:"5"}
            ],
            active2:1,
            dataList:[],
            loading: false,
			finished: false,
            listQuery: Object.assign({type:2}, defaultListQuery),
		};
  	},
	computed:{
		
	},
  	beforeMount() {

    },
    created(){
        this.getDataList(this.listQuery)
    },
  	mounted() {
        
    },
    filters: {
       
    },
 	methods: {
        onClick(e,title){
            console.log(e)
             switch(e){
                case "null" :
                    this.listQuery=Object.assign({}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
                case "1" :
                    this.listQuery=Object.assign({type:e}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
                case '5' :
                    this.listQuery=Object.assign({type:e}, defaultListQuery)
                    this.getDataList(this.listQuery)
                    break;
            }
           
        },
		getDataList(params) {
            this.loading=true
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/collectionindex`,{params:params}).then(response => {
                console.log(response)
                if(response.code=='0'){
                    this.dataList=response.data
                     if(response.data.length < defaultListQuery.pageSize){
                        this.loading = false;
                        this.finished = true;
                    }
                }else{
                    this.$toast(response.msg);
                }
            })
        }
	},
	beforeDestroy() {    
		
	},
};
</script>
<style lang="less" scoped>
    .course-info{
        background: #fff;
        display: block;
        border-bottom:1px solid #E4E4E4;
        box-sizing: border-box;
        display: flex;
        padding:20px 15px;
        .left-box{
            img{
                display: block;
                border-radius: 50%;
                width:74px;
                height:74px;
                object-fit:cover;
                
            }
        }
        .right-box{
            display: flex;
            flex: 1;
            flex-direction: column;
            padding-left:15px;
            .p-name{
                color:#333;
                font-size: 14px;
                font-weight: 400;
                flex:1;
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            .p-author{
                color:#666;font-size: 14px;
            }
            .p-text{
                color:#666666; 
                font-size:14px;
                display:flex;
                span{margin-right:24px;}
                // justify-content: space-between;
            }  
            .p-btn{
                justify-content: center;
                align-items: center;
                display: flex;
                width: 74px;
                height: 32px;
                background: #F4F4F4;
                border-radius: 4px;
                cursor: pointer;
                color:#333333;
                font-size:14px;
                margin-right:20px;
            }
        }
        
    }   
</style>
