<template>
    <div class="search-bar">
        <div class="top-left"  @click="$router.back(-1)">
            <i class="iconfont icon-fanhui"></i>
        </div>
        <div class="to-center">{{$route.meta.title}} </div>
        <div class="top-right" ></div>
    </div>
</template>
<script>
    export default {
        data() {
            return {

            }
        },
        mounted() {
            // this.$route.meta.title
        },
       
        methods: {
            goBack() {
                this.$route.go(-1)
            }

        },

    }
</script>
<style lang="less" scoped>
    .search-bar{
        background: #fff;
        display: flex;
        justify-content: center;
        align-content: center;
        font-size: 17px;
        font-weight: bold;
    }

    .top-left{
        display: flex;
        align-items: center;
        height:50px;
        width:50px;
        box-sizing: border-box;
        padding-left:10px;
        font-size: 17px;
        font-weight: bold;

    }
    .top-right{
        display: flex;
        justify-content: center;
        align-items: center;
        height:50px;
        width:50px;
        box-sizing: border-box;
        font-size: 17px;
        font-weight: bold;
    }

    .to-center{
        flex: 1;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        font-size: 17px;
        font-weight: bold;
 
    }
</style>