body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, b, textarea, button, input, select, figure, figcaption{
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-weight: normal;    
    font-family: PingFangSC-Regular, PingFang SC;
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
}
html,body{
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background-color: #F5F5F5;
    /* overflow: hidden; */
    /* font-size:20px; */
    color: #333;
}
*{
    padding:0;
    margin:0;
}
a{
    text-decoration:none;
    cursor: pointer;
    color:#8D8D8D;

}
/* a:link {color: #FF0000}		未访问的链接 */
/* a:visited {color: #00FF00}	已访问的链接 */
/* a:hover {color: #23D3B5}	    鼠标移动到链接上 */
/* a:active {color: #0000FF}	选定的链接 */
ul li {
  list-style:none;
  cursor: pointer;
}
ol li {
    list-style:none;
    cursor: pointer;
}
/* a{color: #3d4145;} */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
/* ::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}   */
  
/*定义滚动条轨道 内阴影+圆角*/  
/* ::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}   */
  
/*定义滑块 内阴影+圆角*/  
/* ::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}   */

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
    outline: none
}

input,button{
    -webkit-appearance: none;
    outline: none
}
   
textarea { -webkit-appearance: none;}   

/* 富文本内容 */
.strhtml{
    background:#fff;padding: 15px;font-size: 14px;
}
.strhtml img{
    width:100%;
}









