video{
    outline:none;
    background: #000;
    display: block;
    height:211px;
}
#playbackPlayer{
    outline:none;
    background: #000;
    display: block;
    height:211px;
}

/* 直播回看 */
.header-title-bar{
    display: flex;
    height:50px;
    font-size:14px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    padding:0 10px;
    font-size:14px;
    color:#999;
    border-bottom: 1px silid#E4E4E4;
    background-color: #fff;
    .default-clor{
        color:#23D3B5;
    }
    a{
        display: flex;
        align-items: center;
        .icon-dianzan{
            font-size: 20px;
            box-sizing: border-box;
            padding-bottom: 4px;
        }
    }
    .iconfont{
       font-size: 20px;
       margin-left:5px;
    }

}

.video-box{
    height:211px;
    background: #000;
    .background-data{
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 111;
    }
    .video-title{
       font-weight: bold;
       font-size: 30px;
    }
    .detail-btn{
        background: rgba(0, 0, 0, 0.2); 
        color:#f4f4f4;
        width: 140px;
        height: 38px;
        font-size: 18px;
        text-align: center;
        line-height: 38px;
        border-radius: 19px;
        cursor: pointer;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}


.data-teacher{
    height:90px;
    align-items: center;
    padding:10px;
    background-color: #fff;
    border-top: 1px solid #E4E4E4;
    display: flex;
    .head-portrait{
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        border-radius: 50%;
        margin-right: 20px;
        overflow: hidden;
    }
    .product-title-btn{
        width: 70px;
        height: 28px;
        box-sizing: border-box;
        border: 1px solid #23D3B5;
        border-radius: 4px;
        font-size: 14px;
        color:#fff;
        text-align: center;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}
    
ol li{
    font-size:16px;
    color:#999;
    background: #fff;
    border-top: 1px solid #E4E4E4;
    padding:15px;
}
.now-buy-bar{
    position: fixed;bottom: 0;left: 0;width: 100%;background: #f4f4f4;display:flex;
    .price{
        color:#FF5C5C;font-size:18px;width:145px;display: flex;justify-content: center;align-items: center;
    }
    .now-buy{
        width: 230px;height: 56px;background: #23D3B5;display:flex;justify-content: center;align-items: center;color: #fff;
        cursor: pointer;
        font-size:18px;
    
    }
}
