<template>
	<div >
		<navBar></navBar>
        <ul>
            <li>
				<div class="lable">收货人</div>  
				<div class="right-box">
					<input v-model="sName" placeholder="输入姓名"/> 
				</div>
			</li>	
		
            <li>
				<div class="lable">手机号</div>  
				<div class="right-box">
					<input v-model="sPhone" placeholder="输入手机号"/> 
				</div>
			</li>
            <li @click="show=true"> 
				<div class="lable">收货地址</div>  
                <div class="right-box">
					<input v-model="addressStr" readonly placeholder="输入收货地址"/> <i class="iconfont icon-xiangyou"></i>
				</div>
            </li>
			<li>
				<div class="lable">详细地址</div>  
				<div class="right-box" >
					<input v-model="addRess" placeholder="输入详细地址" /> 
				</div>
			</li>
			<li>
				<div class="lable">邮政编码</div>  
				<div class="right-box">
					<input v-model="Postcode" placeholder="输入邮政编码" /> 
				</div>
			</li>
			<li>
				<div class="lable">默认地址</div>  
				<div class="right-box">
					<van-switch v-model="status" active-color="#23D3B5" inactive-value='0' active-value='1' inactive-color="#dcdee0" />
				</div>
			</li>
        </ul>
        <div style="margin-top:100px;display: flex;align-items: center;justify-content: center;">
            <a @click="submitForm" style="width: 274px;height: 46px;background: #23D3B5;border-radius: 4px;color:#fff;font-size:18px; display: flex;align-items: center;justify-content: center;">保存并使用</a>
        </div>
		<van-popup v-model="show" position="bottom" :style="{ height: '50%' }" >
			<van-area title="标题" :area-list="areaList"  @cancel="show=false" @confirm="onConfirm" />
		</van-popup>
	</div>
</template>
<script>

const defaultListQuery = {
    pageNum: 1,
    pageSize: 10
};
import NoData from '@/components/NoData'
import navBar from '@/components/navBar'
import areaList from '@/utils/areaList';
	export default {
		components: {
			NoData,
			navBar
		},
		data() {
			return {
				areaList:areaList,
				sName:'',
				sPhone:'',
				Postcode:'',
				status: 1,
				show:false,
				addRess:'',
				province:'',
				city:'',
				county:'',
				addressStr:[]
			}
		},
		created(){
			
		},
		cumputed:{
			
		},
		mounted(){
			if(this.$route.query.type=='updata'){
				let item=JSON.parse(decodeURIComponent(this.$route.query.params))
				this.sName=item.sName,
				this.sPhone=item.sPhone,
				this.Postcode=item.Postcode,
				this.status=item.status,
				this.addRess=item.addRess,
				this.province=item.province,
				this.city=item.city,
				this.county=item.county,
				this.addressStr=[item.province,item.city,item.county]
			}
		},

		watch: {
           
        },
		methods:{
			onConfirm(value, index) {
				let arr=[]
				value.forEach(element => {
					arr.push(element.name)
				});
				this.addressStr=arr
				this.show=false
			},
			
           	submitForm(){
			   	// 编辑
				let params
				if(this.$route.query.type=='updata'){
					let item=JSON.parse(decodeURIComponent(this.$route.query.params))
					params={
						id:item.id,
						sName:this.sName,
						sPhone:this.sPhone,
						province:this.addressStr[0],
						city:this.addressStr[1],
						county:this.addressStr[2],
						addRess:this.addRess,
						Postcode:this.Postcode,
						status:this.status
					}

				}else{
					params={
						sName:this.sName,
						sPhone:this.sPhone,
						province:this.addressStr[0],
						city:this.addressStr[1],
						county:this.addressStr[2],
						addRess:this.addRess,
						Postcode:this.Postcode,
						status:this.status
					}
				}
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/consignee`,{ params: params}).then(response => {
					if(response.code=='0'){
						this.$toast('操作成功');
						setTimeout(() => {
							this.$router.push({ path: '/address/list'})
						}, 600);
					}else{
						this.$toast(response.msg);
					}
				})  
			}
			
		}				
	}
</script>


<style lang="less" scoped>
ul{
    li{    
        background: #fff;
		justify-content: space-between;
		display: flex;
		align-items: center;
        font-size: 16px;
        color:#666;
		border-bottom:1px solid #e4e4e4;
		height: 56px;
		box-sizing: border-box;
		padding: 0 15px;
		.right-box{
			padding-left: 40px;flex: 1;justify-content: space-between;display: flex;
		}
		.lable{
			width: 80px;
		}
		.iconfont{
			color: #999;
		}
		.icon-dizhi{
			color: #23D3B5;
			font-size:30px
		}
	}
}
	
	
</style>
