<template>
	<div >
		<navBar></navBar>
        <div>
			<van-swipe-cell v-for="(item,index) in dataList" :key="index" :id="item.id"  :before-close="beforeClose">
				<template #left></template>
				<a class="address" @click.prevent="itemClick(item)">
					<div style="display:flex;align-items: center;flex:1;">
						<i class="iconfont icon-dizhi"></i>
						<div style="padding:0 15px;">
							<div style="margin-bottom:5px;"><span style="font-size:16px;margin-right:20px;">{{item.sName}}</span><span style="font-size:12px;color:#999;">18435990000</span> <span v-if="item.status=='1'" style="font-size:12px;color:#999;margin-left:20px;">默认</span> </div>
							<div style="font-size:14px;">
								{{item.province}} {{item.city}} {{item.county}} {{item.addRess}}
							</div>
						</div>
					</div>
					<!-- <i class="iconfont icon-xiangyou"></i>   -->
					<span style="font-size:12px;color:#999999;border:1px solid #999;padding:2px 5px;border-radius:4px;" @click="updataHandle(item)"> 修改</span>
				</a>
				<template #right>
					<van-button square type="danger" text="删除" />
				</template>
			</van-swipe-cell>
       </div>
        <div style="margin-top:100px;display: flex;align-items: center;justify-content: center;">
            <router-link :to="{path:'/address' , query:{type:'add'}}" style="width: 274px;height: 46px;background: #23D3B5;border-radius: 4px;color:#fff;font-size:18px; display: flex;align-items: center;justify-content: center;">添加新地址</router-link>
        </div>
	</div>
</template>
<script>
import navBar from "@/components/navBar"
import NoData from '@/components/NoData'
	export default {
		components: {
			NoData,
			navBar
		},
		data() {
			return {
               dataList:[]
			}
		},
		created(){
			this.getList()
		},
		cumputed:{
			
		},
		mounted(){
			
		},
	
		watch: {
           
        },
		methods:{
			// position 为关闭时点击的位置
			// instance 为对应的 SwipeCell 实例
			beforeClose({ position, instance}) {
				console.log(position,instance)
				console.log(instance.$attrs.id)
				switch (position) {
					case 'left':
					case 'cell':
					case 'outside':
						instance.close();
						break;
					case 'right':
						this.$dialog.confirm({message: '确定删除吗？'}).then(() => {
							instance.close();

							// 调用删除
						});
					break;
				}
			},	
			updataHandle(item){
				let obj=JSON.parse(JSON.stringify(item)) 
				// obj.sSchooName=obj.sSchooName[this.currentIndex].sSchooName
				let params=JSON.stringify(obj).replace(/%/g, '%25');
				this.$router.push({ path: '/address', query: {type:'updata', params: params}})
			},
			getList() {
                this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/consigneeindex`).then(response => {
					if(response.code=='0'){
						this.dataList=response.data
					}else{
                    	this.$toast(response.msg);
					}
                    
                })
            },
            itemClick(item){
				console.log(item)
				debugger
                if(this.$route.query.back_url){
                  	this.$store.commit("changeCurrentAddress", JSON.stringify(item));
                    this.$router.push({path:this.$route.query.back_url});
                }else{
                   	let obj=JSON.parse(JSON.stringify(item)) 
					let params=JSON.stringify(obj).replace(/%/g, '%25');
					this.$router.push({ path: '/address', query: {type:'updata', params: params}})
                }
                
            }
		}				
	}
</script>


<style lang="less" scoped>
	.address{
			background: rgb(255, 255, 255);
			// margin-top: 10px;
			border-bottom: 1px solid #E4E4E4;
			justify-content: space-between;
			display: flex;
			align-items: center;
			padding: 15px;
			font-size: 16px;
		.iconfont{
			color: #999;
		}
		.icon-dizhi{
			color: #23D3B5;
			font-size:30px
		}

		height: 100%
	}

	.van-swipe-cell{
		// margin-top:10px;
	}
	.van-swipe-cell .van-swipe-cell__right .van-button{
		height:100%;
	}
</style>
