<template>
	<div >
		<navBar></navBar>
        <ul>
            <!-- <li>
				<div class="lable">单位名称</div>  
				<div class="right-box">
					<input v-model="sPhone" placeholder="输入单位名称"/> 
				</div>
			</li> -->
            <li>
				<div class="lable">负责人</div>  
				<div class="right-box">
					<input v-model="person" placeholder="输入负责人"/> 
				</div>
			</li>
            <li>
				<div class="lable">加盟方向</div>  
				<div class="right-box">
					<input v-model="direction" placeholder="输入加盟方向"/> 
				</div>
			</li>
            <li @click="show=true"> 
				<div class="lable">所在城市</div>  
                <div class="right-box">
					<input v-model="addressStr" readonly placeholder="输入收货地址"/> <i class="iconfont icon-xiangyou"></i>
				</div>
            </li>
            <li>
				<div class="lable">手机号</div>  
				<div class="right-box">
					<input v-model="sPhone" placeholder="输入手机号"/> 
				</div>
			</li>
            <li>
				<div class="lable">邮箱</div>  
				<div class="right-box">
					<input v-model="sMail" placeholder="输入邮箱"/> 
				</div>
			</li>
        </ul>
        <div style="margin-top:100px;display: flex;align-items: center;justify-content: center;">
            <a @click="handleCommit" style="width: 274px;height: 46px;background: #23D3B5;border-radius: 4px;color:#fff;font-size:18px; display: flex;align-items: center;justify-content: center;">提交</a>
        </div>
		<van-popup v-model="show" position="bottom" :style="{ height: '50%' }" >
			<van-area title="标题" :area-list="areaList"  @cancel="show=false" @confirm="onConfirm" />
		</van-popup>
	</div>
</template>
<script>


import navBar from '@/components/navBar'
import areaList from '@/utils/areaList';
	export default {
		components: {
			navBar
		},
		data() {
			return {
                person:'',
                direction:'',
                sMail:'',
				areaList:areaList,
				sName:'',
				sPhone:'',
				show:false,
				addRess:'',
				province:'',
				city:'',
				county:'',
				addressStr:[]
			}
		},
		created(){
			
		},
		cumputed:{
			
		},
		mounted(){
			
		},

		watch: {
           
        },
		methods:{
			onConfirm(value, index) {
				let arr=[]
				value.forEach(element => {
					arr.push(element.name)
				});
				this.addressStr=arr
				this.show=false
            },
            
            handleCommit(){
                if(!this.sPhone){
                    this.$toast("手机号必填");
                    return
                }
                let params={
                    sCityName:this.addressStr[1],
                    sMail:this.sMail,
                    direction:this.direction,
                    sPhone:this.sPhone,
                    person:this.person
                }
                this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/join`,{ params: params}).then(response => {
                    if(response.code=='0'){
                        this.$toast(response.msg);
                    }else{
                        this.$toast(response.msg);
                    }
                })
            }
			
		}				
	}
</script>
<style lang="less" scoped>
ul{
    li{    
        background: #fff;
		justify-content: space-between;
		display: flex;
		align-items: center;
        font-size: 16px;
        color:#666;
		border-bottom:1px solid #e4e4e4;
		height: 56px;
		box-sizing: border-box;
		padding: 0 15px;
		.right-box{
			padding-left: 40px;flex: 1;justify-content: space-between;display: flex;
		}
		.lable{
			width: 80px;
		}
		.iconfont{
			color: #999;
		}
		.icon-dizhi{
			color: #23D3B5;
			font-size:30px
		}
	}
}
	
	
</style>
