<template>
    <div >

        <navBar></navBar>
        <ul>
            <li>
				<div class="lable">专业</div>  
				<div class="right-box">
					<input v-model="dataBase.sName" placeholder="输入姓名" /> 
				</div>
			</li>	
		
            <li>
				<div class="lable">院校</div>  
				<div class="right-box">
					<input v-model="dataBase.sSchooName" placeholder="输入姓名"/> 
				</div>
			</li>	
            <li>
				<div class="lable">层次</div>  
				<div class="right-box" v-if="dataBase.sArrangement">{{dataBase.sArrangement[0] | sArrangementFilter}}
				</div>
			</li>	
            <li>
				<div class="lable">学制</div>  
				<div class="right-box">
					<input v-model="dataBase.sYear" placeholder="输入姓名"/> 
				</div>
			</li>	    
        </ul>
        <ul>
            <li>
				<div class="lable">真实姓名</div>  
				<div class="right-box">
					<input placeholder="请输入名字" v-model="loginForm.username" /> 
				</div>
			</li>	
            <li>
				<div class="lable">真实手机</div>  
				<div class="right-box">
					<input placeholder="请输入手机号" v-model="loginForm.userphone" /> 
				</div>
			</li>	
            <li>
				<div class="lable">验证码</div>  
				<div class="right-box">
					<input placeholder="请输入验证码"  v-model="loginForm.usercode" />   
                    <button type="primary" class="get-code-btn"  @click="getVerify" :disabled="(disabled = !show)" >
                        <span v-show="show">获取验证码</span>
                        <span v-show="!show" class="count">{{ count }} s</span>
                    </button>	
				</div>
			</li>  
        </ul>
        <div class="wl-button"><van-button  :disabled="loginDisabled" @click="commitData">提交报名信息</van-button> </div>
	</div>
</template>
<script>
import navBar from "@/components/navBar";
export default {
    components: {
        navBar
    },
    data() {
        return {
                dataBase:{},
                count: "", // 初始化次数
                loginForm:{},
                loading: false,
                show: true,
                count: "", // 初始化次数
                timer: null,
        };
    },

    beforeMount() {},
    computed:{
        loginDisabled(){
            let flag=this.loginForm.username && this.loginForm.usercode
            return !flag              
        }  
    },
    mounted() {
        
        this.dataBase=JSON.parse(decodeURIComponent(this.$route.query.params))
        console.log( this.dataBase)
    },
    methods: {
        commitData() {
            let params={
                sSpecialityId:this.dataBase.sid,
                sSignName:this.loginForm.username,
                sPhone:this.loginForm.userphone,
                code:this.loginForm.usercode,
                source:"forgetmessage"
            }
            this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/sbomintsign`,{ params: params }).then(response => {
                console.log(response)
                if(response.code=='0'){
                        this.$dialog.confirm({  title: '温馨提示', message: '您已报名成功 请等待业务人员与您的联系！', }) .then(() => {
                            this.$router.replace({ path: '/home'})
                        })
                        .catch(() => {
                            this.$router.replace({ path: '/home'})
                        });

                }else{
                    
                }
            })
        },
        getVerify() {
            // 验证手机号
            if (this.checkPhone() == false) {
                return false;
            } else {
                const TIME_COUNT = 60; //更改倒计时时间
                if (!this.timer) {
                this.count = TIME_COUNT;
                this.show = false;
                this.timer = setInterval(() => {
                    if (this.count > 0 && this.count <= TIME_COUNT) {
                    this.count--;
                    } else {
                    this.show = true;
                    clearInterval(this.timer); // 清除定时器
                    this.timer = null;
                    }
                }, 1000);
                }
            }

            this.getVerificationCode();
        },
        checkPhone() {
            let phone = this.loginForm.username;
            if (!/^1[3456789]\d{9}$/.test(phone)) {
                this.$toast("请填写正确的手机号");
                return false;
            }
        },
        //发送短信
        getVerificationCode() {
            let params = {
                account: this.loginForm.username,
                source: "forgetmessage"
            };
        this.axios.get(this.Global.BASE_URL + "/index.php?r=web/site/sendcode", { params: params }) .then(response => {
            console.log(response);
            if (response.code == "0") {
                this.$toast("恭喜你，信息已发送");
            }
            }).catch(response => {

            });
        },				
    },
    filters: {
        sellsFilter(value) {
            if(!value) {
                return '0';
            } else {
                return value
            }
        },
        sFeaturesFilter(element){
            let str
            if(element=='1') {
                str= '双一流'
            }else if(element=='2'){
                str="985工程"
            }else if(element=='3'){
                str="211工程"
            }else if(element=='4'){
                str="教育部直属"
            }else if(element=='5'){
                str="省部委共建"
            }else if(element=='6'){
                str="省属重点"
            }else if(element=='7'){
                str="省部共建"
            }else if(element=='8'){
                str="省教育厅直属"
            }else{
                str= 'N/A'
            }
            return str
        },
        sLabelFilter(element){
            let str
            if(element=='1') {
                str= '录取快'
            }else if(element=='2'){
                str="院校推荐"
            }else if(element=='3'){
                str="特殊专业"
            }
            return str
        },
        
        sArrangementFilter(element){
            let str
            if(element=='1') {
                str= '高起专'
            }else if(element=='2'){
                str="高起本"
            }else if(element=='3'){
                str="专升本"
            }    
         return str
        }
    },
};
</script>
<style lang="less" scoped>
    ul{
        margin-bottom:10px;
        li{    
            background: #fff;
            justify-content: space-between;
            display: flex;
            align-items: center;
            font-size: 16px;
            color:#666;
            border-bottom:1px solid #e4e4e4;
            height: 56px;
            box-sizing: border-box;
            padding: 0 15px;
            .right-box{
                padding-left: 40px;flex: 1;justify-content: space-between;display: flex;
            }
            .lable{
                width: 80px;
            }
           
         
            input{
                width:100%;
            }
            .get-code-btn{
                width: 120px;
                font-size:12px;
            }
        }
    }
    .wl-button{
        height: 56px;
        border-radius: 4px;
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        .van-button{
            width:100%;
            height: 100%;
            background-color: #23D3B5;
            border: 1px solid #23D3B5;
            font-size: 18px;
            color: #fff;
        }
    }
   
</style>





