<template>
	<div style="padding-bottom:60px;">
        <ul>
            <li>
                <van-image height="200" v-if="data.sSchooBanner" :src="Global.img_BASE_URL+data.sSchooBanner" />
            </li>

            <li>
                <div style="padding-bottom: 20px;">
                    <div style="font-size:20px;padding:15px;font-weight: 500;">热门专业</div>
                    <div >
                        <van-swipe :loop="false" :width="150" :show-indicators='false'>
                            <van-swipe-item v-for="(item,index) in data.speciality" :key="index" ><img :src="Global.img_BASE_URL+item.sMajorImg" /></van-swipe-item>
                        </van-swipe>
                    </div>
                   
                </div>
            </li>
            <li>
                <div style="padding-bottom: 20px;">
                    <div style="font-size:20px;padding:15px;font-weight: 500;">报名须知</div>
                    <div style="padding:0 15px;" class="strhtml" v-html="data.sNotice"></div>
                </div>
            </li>
           
          

            <li>
                <div style="padding-bottom: 20px;">
                    <div style="font-size:20px;padding:15px;font-weight: 500;">证书样本</div>
                    <div style="padding:0 15px;">
                        <van-image height="200" v-if="data.sSchooBanner" :src="Global.img_BASE_URL+data.sGraduation" />
                    </div>
                   
                </div>
            </li>
        </ul>

         <div style="background:#fff;margin-bottom:15px;">
            <div style="font-size:20px;padding: 15px 15px 5px 15px;;font-weight: 500;"><span>开设专业</span></div>
            <ol>
                <li> 
                    <span>专业名称</span> 
                    <span>学制</span> 
                    <span>层次</span> 
                    <span>报名</span>
                </li>
                <li v-for="(item,index) in data.speciality" :key="index"> 
                    <span>{{item.sName}}</span> 
                    <span>{{item.sYear}}年</span> 
                    <span>{{item.sArrangement | sArrangementFilter}}</span> 
                    <span style="color:#23D3B5;">
                        <router-link  :to="{ path: '/educationPromotion/majorList/detail' , query:{sid:item.sid,sMajorId:item.sMajorId,sMajorTowId:item.sMajorTowId}}" class="list-item" >立即报名</router-link>
                    </span>
                </li>
                <li ><router-link  :to="{ path: '/educationPromotion/majorList' }" class="list-item" >查看更多</router-link></li>
            </ol>
        </div>

         <div class="news-information" style="background:#fff;margin-bottom:15px;">
            <div style="display: flex; justify-content: space-between;align-items: center;font-size:20px;padding: 15px 15px 5px 15px;;font-weight: 500;">
                <span>新闻资讯</span>
                <div>
                    <span style="color:#999999;font-size:14px;margin-right:8px;">换一批  </span> <i class="iconfont icon-huanyipi"></i> 
                </div>
                
            </div>
            <a class="list-item" v-for="(item,index) in newsList" :key="index">
                <div class="left-box">
                    <img src=""  :onerror="Global.defalutLogoUrl" />
                </div>
                <div class="right-box">
                    <div class="title">关于本校2021招生计划安排规章</div>
                    <div class="p-info">
                        <div style="align-items: center;display: flex;color:#999;font-size:12px;"> 2021-5-21</div>  
                    </div>
                </div>
            </a>
        </div>


        
    </div>
</template>
<script>

import NoData from '@/components/NoData'
import FooterBar from '@/components/FooterBar'
import searchBar from "@/components/searchBar";

	export default {
		components: {
			NoData,
			FooterBar,
			searchBar
		},
		data() {
			return {
                newsList:[
                    {name:23},
                    {name:23},
                    {name:23},
                    {name:23},
                    {name:23}
                ],
                data:{}

			}
		},
		created(){
            this.getDetail()
		},
		cumputed:{
			
		},
		mounted(){
         
			

		},
         filters: {
            sellsFilter(value) {
                if(!value) {
                    return '0';
                } else {
                    return value
                }
            },
            sFeaturesFilter(element){
                let str
                if(element=='1') {
                    str= '双一流'
                }else if(element=='2'){
                    str="985工程"
                }else if(element=='3'){
                    str="211工程"
                }else if(element=='4'){
                    str="教育部直属"
                }else if(element=='5'){
                    str="省部委共建"
                }else if(element=='6'){
                    str="省属重点"
                }else if(element=='7'){
                    str="省部共建"
                }else if(element=='8'){
                    str="省教育厅直属"
                }else{
                    str= 'N/A'
                }
                return str
            },
            sLabelFilter(element){
                let str
                if(element=='1') {
                    str= '录取快'
                }else if(element=='2'){
                    str="院校推荐"
                }else if(element=='3'){
                    str="特殊专业"
                }
                return str
            },
            
            sArrangementFilter(element){
                let str
                if(element=='1') {
                    str= '高起专'
                }else if(element=='2'){
                    str="高起本"
                }else if(element=='3'){
                    str="专升本"
                }    
            return str
            }
        },
		watch: {
          
        },
		methods:{
            getDetail(){
                let params={sid:this.$route.query.id}
                this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/schooinfo`,{ params: params }).then(response => {
                    console.log(response)
                    this.data=response.data
                })
            }
		}				
	}
</script>


<style lang="less" scoped>
    ul {
        li{
            background:#fff;margin-bottom:15px;
            .van-image{
                display: block;
            }
            .van-swipe{
                margin:0 15px;
            }
            .van-swipe-item{
                background: #999999;
                border-radius: 4px;
                overflow: hidden;
                width: 150px;
                height: 98px;
                margin-right: 10px;
                img{
                width:100%;
                height:100%;
                display: block;
                
                }
            }
        }
    }
    ol {
        padding: 0 15px;
        li{
            span{
                display: inline-block;
                width: 20%;
                 &:first-child{
                    display: inline-block;
                    width: 40%;
                }
            }
            a{
                color:#23D3B5;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            border-bottom: 1px solid #E4E4E4;
            padding:20px 0;
            &:first-child{
                color: #000;
                font-size: 14px;
            }
            &:last-child{
                justify-content: center;
                color:#23D3B5;
                border-bottom: none;
            }
        }
    }

    
    .news-information{
        .iconfont{
            font-size:14px;
            color:#999999;
        }
        .list-item{
            display:flex;
            padding:20px 15px;
            border-bottom:1px solid #E4E4E4;
            background: #fff;
            .left-box{
                width: 145px;
                height: 95px;
                background: #999999;
                border-radius: 4px;
                margin-right:10px;
                overflow: hidden;
                img{
                    width: 145px;height: 95px;
                    border-radius: 4px;
                }
            }
        .right-box{
            flex: 1;
            display: flex;
            flex-direction: column;
            .title{
                font-size:16px;
                color:#333;
                flex:1;
            }
            .p-info{
                font-size:16px;color:#333;display: flex;justify-content: space-between;align-items: center;height: 32px;
                    /deep/ .van-image__img{
                        width:32px;height:32px;border-radius:20px;overflow: hidden;
                    }
                    span{
                        color:#666666;font-size:14px;margin-left:10px;
                    }
                }
            }
        }
    }
	
</style>
