<template>
	<div>
        <navBar></navBar>
		<ul class="filter-bar" style="display:flex;">
            <li @click="cityClickHandle(1)">
                城市筛选 <i class="iconfont icon-xiangshang2"></i>
            </li>
            <li @click="cityClickHandle(2)">
                院校筛选 <i class="iconfont icon-xiangshang2"></i>
            </li>
            <li @click="cityClickHandle(3)">
                专业筛选 <i class="iconfont icon-xiangshang2"></i>
            </li>
        </ul> 
        <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getDataList(listQuery)" offset='20'>
            <router-link :to="{ path: '/educationPromotion/collegesList/detail' , query:{id:e.sid}}" class="list-item" v-for="(e,index) in list" :key="index" >
                <div class="left-box">
                    <img v-if='e.sSchonLogo' :src="Global.img_BASE_URL+e.sSchonLogo"  />
                </div>
                <div class="right-box">
                    <div class="title">{{e.sSchooName}}</div>
                    <div class="p-info" style="margin-bottom:5px;">累计报读：25222</div>
                    <div class="p-info">层次：高起专、高起本、专升本</div>
                </div>
            </router-link>
        </van-list>

       <van-popup v-model="show" position="bottom" :style="{ height: '40%' }">
           <van-picker
                title="标题"
                show-toolbar
                :columns="option1"
                @confirm="onConfirm"
                @cancel="onCancel"
                @change="onChange"
            />
       </van-popup>
	</div>
</template>
<script>
const defaultListQuery = {
    pageNum: 1,
    pageSize: 10
};
import NoData from '@/components/NoData'
import FooterBar from '@/components/FooterBar'
import searchBar from "@/components/searchBar";
import navBar from "@/components/navBar";



	export default {
		components: {
			NoData,
			FooterBar,
            searchBar,
            navBar
		},
		data() {
			return {
                columns: ['杭州', '宁波', '温州', '绍兴', '湖州', '嘉兴', '金华', '衢州'],
                type:null,
                toggle:false,
                value1: 0,
                value2: 'a',
                value3: 'a',
                option1: [],
                option2: [],
                option3: [],
                show:false,

                list: [],
                loading: false,
				finished: false,
				active:null,
				active2:null,
				// foodScroll:null,
				// styleObj1: { "height": '', "width": "120px", "overflow": "hidden", 'font-size': '14px'},
                // styleObj2: { "height": '', "width": "100%", "overflow": "hidden", 'font-size': '14px'},
				listQuery: Object.assign({}, defaultListQuery,{}),
				menuList: null,
				isload:true
				// dataList:[],
				// currentIndex:0,
			}
		},
		created(){
            this.getMenuList()
		},
		cumputed:{
			
		},
		mounted(){
         
			this.listQuery=Object.assign({}, defaultListQuery,this.$route.query),
			console.log(this.listQuery)

		},
	
		watch: {
          
        },
		methods:{
            onConfirm(value, index) {
                this.$toast(`当前值：${value}, 当前索引：${index}`)
                if(this.type=='1'){
                    this.listQuery=Object.assign({}, defaultListQuery,{cid:this.menuList.city[index].cid}),
                    console.log(this.listQuery)
                    this.show=false
                    this.list=[]
                    this.getDataList(this.listQuery)
                }
                if(this.type=='2'){
                    this.listQuery=Object.assign({}, defaultListQuery,{fid:this.menuList.sFeatures[index].fid}),
                    console.log(this.listQuery)
                    this.show=false
                    this.list=[]
                    this.getDataList(this.listQuery)
                }
                if(this.type=='3'){
                    this.listQuery=Object.assign({}, defaultListQuery,{typeid:this.menuList.type[index].typeid}),
                    console.log(this.listQuery)
                    this.show=false
                    this.list=[]
                    this.getDataList(this.listQuery)
                }
            },
            onChange(picker, value, index) {
                this.$toast(`当前值：${value}, 当前索引：${index}`);
            },
            onCancel() {
                this.$toast('取消');
            },
            cityClickHandle(val){
                this.type=val
                if(val=='1'){
                    this.show=true
                    let arr=[]
                    this.menuList.city.forEach(element => { arr.push(element.sCityName)});
                    this.option1=arr
                }
                if(val=='2'){
                    this.show=true
                    let arr=[]
                    this.menuList.sFeatures.forEach(element => {  arr.push(element.features)});
                    this.option1=arr
                }
                if(val=='3'){
                    this.show=true
                    let arr=[]
                    this.menuList.type.forEach(element => {  arr.push(element.name)});
                    this.option1=arr
                }
            },
			tabHandleClick(val,title){
                this.$refs.item.toggle(false)
				this.list=[]
                // this.listQuery=Object.assign({},this.listQuery,{isAudition:val=='null' ? null:val,pageNum:1})
                this.getDataList(this.listQuery)
            },
			getMenuList(){
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/schoocate`).then(response => {
                    console.log(response.data.city)
                    this.menuList=response.data
                  
				})
			},
			getDataList(params){
				if(this.isload==false){
					return
				}
				this.isload=false
				this.loading=false
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/schoo`,{ params: params }).then(response => {
					this.list=this.list.concat(response.data)	
					this.isload=true
					this.listQuery.pageNum++
					// this.loading=true
					if (this.list.length >= response.total) {
						this.finished = true;
						this.loading=false
					}
					if (this.listQuery.pageSize > response.data.length) {
						this.finished = true;
						this.loading=false
					}						
				})
			},

			detailHandle(item){
				// 正常进入下级页面
				if(item.liveStatus=='0'){
					this.$router.push({ path: '/Detail', query:{id:item.id}});
				}
				// 跳转直播详情
				// if(item.liveStatus=='1'){
				// 	let webUrl=`http://wap.kuaixueli.com/live/live.html#index?roomid=${item.id}`  
				// 	// window.location.href = webUrl
				// 	window.open(webUrl);   
				// }
			},
		}				
	}
</script>


<style lang="less" scoped>

    .filter-bar{
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        font-size: 14px;
        background: #fff;
       
        position: -webkit-sticky;
        position: sticky;/*兼容*/
        top: 0;
        left: 0;
        li{
            display: flex;
            align-items: center;
        }
        .iconfont{
            font-size: 10px;
            color: #666;
            padding-left:8px;
        }
    }
    

	.list-item{
		display:flex;
		padding:15px;
        border-bottom:1px solid #E4E4E4;
        background: #fff;
		.left-box{
			width: 90px;
			height: 90px;
		
			border-radius: 4px;
			margin-right:10px;
			img{
                width: 90px;
                width: 90px;
				border-radius: 4px;
			}
		}
		.right-box{
			flex: 1;
			display: flex;
			flex-direction: column;
			.title{
				font-size:16px;
				color:#333;
				flex:1;
			}
			.p-info{
				font-size:12px;
			
			}
		}
	}
	
</style>
