<template>
  <div style="background:#f4f4f4;padding-bottom: 55px;">
    <a v-if="currentAddress" class="address" @click="clickAddress">
      <div style="display:flex;align-items: center;">
        <i class="iconfont icon-dizhi"></i>
        <div style="padding-left:15px;">
          <div style="margin-bottom:5px;">
            <span style="font-size:16px;margin-right:20px;">{{ currentAddress.sName}}</span>
			<span style="font-size:12px;color:#999;">18435990000</span>
          </div>
          <div style="font-size:14px;">  {{ currentAddress.province }} {{ currentAddress.city }} {{ currentAddress.county }} {{ currentAddress.addRess }} </div>
        </div>
      </div>
      <i class="iconfont icon-xiangyou"></i>
    </a>
    <a v-else class="item" @click="clickAddress">
      <span>选择收货地址</span><i class="iconfont icon-xiangyou"></i>
    </a>
    <div class="order-pay">
      <p style="font-size: 16px; margin-bottom: 16px; line-height: 26px;"> 课程信息 </p>
      <div class="course-info">
        <div class="left-box"> <img v-if="data.sCourseImg" :src="Global.img_BASE_URL + data.sCourseImg" style="width:145px;height:99px;" :onerror="Global.defalutLogoUrl" /> </div>
        <div class="right-box">
          <div style="color:#333;font-size: 14px; font-weight: 400;flex:1;"> {{ data.sCourseName }} </div>
          <div style="color:#333; font-size: 12px;display:flex;justify-content: space-between;" > <span style="color:#999;">1门课程</span ><span>￥{{ data.DisPrice }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="item" @click="show = true">
      <span>支付方式</span>
      <a
        ><span>{{ payMethod == "1" ? "微信" : "支付宝" }}</span
        ><i class="iconfont icon-xiangyou"></i
      ></a>
    </div>
    <div class="item">
      <span>备注</span>
      <a><span>暂无</span><i class="iconfont icon-xiangyou"></i></a>
    </div>
    <div class="item">
      <span>开具发票</span>
      <a><span>本次不开具发票</span><i class="iconfont icon-xiangyou"></i></a>
    </div>
    <div class="amount-module">
      <p style="font-size: 16px; line-height: 26px;margin-bottom:5px;">
        支付信息
      </p>
      <div class="element">
        <span>订单金额 ￥{{ data.DisPrice }}</span>
      </div>
      <div class="element"><span>优惠金额 -￥00.00</span></div>
      <div class="element">
        <span>应付金额 ￥{{ data.DisPrice }}</span>
      </div>
    </div>

    

    <van-action-sheet
      v-model="show"
      :actions="actions"
      @select="onSelect"
      :round="false"
      cancel-text="取消"
      close-on-click-action
      @cancel="onCancel"
      title="选择支付方式"
    />

	<div class="now-buy-bar">
      <div class="price">合计：￥{{ data.price }}</div>
      <div class="now-buy" @click="submitHandle">提交订单</div>
    </div>
  </div>
</template>
<script>
const defaultListQuery = {
  pageNum: 1,
  pageSize: 5,
};
export default {
  components: {},
  data() {
    return {
      dialogPayment: false,
      listQuery: Object.assign({}, defaultListQuery),
      listLoading: true,
      data: {},
      payMethod: "1", //支付方式
      codeUrl: "",
      qrcode: null,
      orderNum: null,
      timer: null,
      orderStatus: null,
      show: false,
      actions: [
        { name: "微信", val: "1" },
        { name: "支付宝", val: "2" },
      ],
      currentAddress: this.$store.state.currentAddress,
    };
  },
  computed: {
    submitHandleStatus: function() {
      if (this.data.DisPrice > 0) {
        return false;
      }
      return true;
    },
  },
  beforeMount() {},
  mounted() {
    //创建订单
    if (this.$route.query.type == "createOrder") {
      this.getList();
    }
    //订单详情
    if (this.$route.query.type == "detailOrder") {
      this.getOrderDetail();
    }
    if (this.$store.state.currentAddress) {
    } else {
      this.getAddressList();
    }
  },
  methods: {
    getAddressList() {
      this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/consigneeindex`) .then((response) => {
          if (response.code == "0" && response.data.length > 0) {
            let obj = response.data[0];
            console.log(obj);
            this.$store.commit("changeCurrentAddress", JSON.stringify(obj));
          }
        });
    },
    clickAddress() {
      this.$router.push({path: `/address/list`, query: { back_url: this.$route.fullPath },});
    },
    onCancel(e) {
      console.log(e);
    },
    onSelect(item) {
      console.log(item);
      this.show = false;
      if (item.val == "1") {
        this.payMethod = "1";
      }
      if (item.val == "2") {
        this.payMethod = "2";
      }
    },
    getOrderDetail() {
      let params;
      if (this.$route.query.type == "createOrder") {
        params = { orderNum: this.orderNum };
      } else {
        params = { orderNum: this.$route.query.id };
      }

      this.axios
        .get(this.Global.BASE_URL + `/index.php?r=web/site/orderinfo`, {
          params: params,
        })
        .then((response) => {
          this.data = response.data.course;
          // 微信 当收款码弹出
          if (this.payMethod == "1") {
            if (this.qrcode && response.data.payStatus == "1") {
              this.orderStatus = response.data.payStatus;
            }
          }
          //支付宝
          if (this.payMethod == "2") {
            if (response.data.payStatus == "1") {
              this.orderStatus = response.data.payStatus;
              // 五秒后关闭收款码
              setTimeout(() => { this.$router.replace({  path: "/userCenter", query: { type: "Orders" }, }); }, 5);
            }
          }
        });
    },
    getList() {
      this.axios.get( this.Global.BASE_URL + `/index.php?r=web/site/courseinfo&id=${this.$route.query.id}` ).then((response) => {
          this.data = response.data;
        });
    },
    submitHandle() {
      if (this.$route.query.type == "createOrder") {
        this.commitOrder();
      }
      if (this.$route.query.type == "detailOrder") {
        if (this.payMethod == "1") {
          let params = {
            orderNum: this.$route.query.id,
          };
          this.wechatPayment(params);
        }
        if (this.payMethod == "2") {
          let params = {
            orderNum: this.$route.query.id,
          };
          this.alipayPayment(params);
        }
      }
    },
    commitOrder() {
      let params = {
        leesonid: this.data.id,
        type: "1", //1全款 2分期
        from: this.$route.query.resource_type, //1直播,2录播
        pid: this.data.pid,
        tid: this.data.tid,
        oPrice: this.data.DisPrice,
        rPrice: this.data.DisPrice,
        pPrice: this.data.DisPrice,
        payMethod: this.payMethod, //1微信 ，2支付宝
      };
      console.log(params);

      this.axios
        .get(this.Global.BASE_URL + `/index.php?r=web/site/addorder`, {
          params: params,
        })
        .then((response) => {
          if (response.code == "0") {
            if (this.payMethod == "1") {
              this.orderNum = response.data.orderNum;
              this.wechatPayment({ orderNum: response.data.orderNum });
            }
            if (this.payMethod == "2") {
              this.orderNum = response.data.orderNum;
              this.alipayPayment({ orderNum: response.data.orderNum });
            }
          } else {
            alert(response.msg);
          }
        });
    },
    wechatPayment(params) {
      this.axios .get(this.Global.BASE_URL + `/index.php?r=web/wxpay/orderwxpay`, { params: params,}).then((response) => {
          if (response.code == "0") {
            this.$router.replace("/paySuccessPage");
          } else {
            alert(response.msg);
          }
        });
    },
    handleClose() {
      this.dialogPayment = false;
      this.qrcode = null;
      this.$refs.qrcode.innerHTML = "";
      window.clearInterval(this.timer);
      console.log("关闭了定时器");
    },
    //支付宝付款
    alipayPayment(params) { this.axios.get(this.Global.BASE_URL + `/index.php?r=web/alipay/orderalipay`, {  params: params, }) .then((response) => {
		let params;
          if (this.$route.query.type == "createOrder") {
            params = { orderNum: this.orderNum };
          } else {
            params = { orderNum: this.$route.query.id };
          }
          let myurl =
            "http://wap.kuaixueli.com/index.php?r=web/alipay/orderalipay&orderNum=" +
            params.orderNum;
          // window.location.href = myurl
          // 开启订单查询
          this.timer = setInterval(() => {
            this.getOrderDetail();
          }, 3000);

          window.open(myurl, "_blank");
        });
    },
  },
  beforeDestroy() {
    //页面关闭时清除定时器
    window.clearInterval(this.timer);
  },
};
</script>
<style lang="less" scoped>
.address {
  background: rgb(255, 255, 255);
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  .iconfont {
    color: #999;
  }
  .icon-dizhi {
    color: #23d3b5;
    font-size: 30px;
  }
}
.item {
  height: 56px;
  background: rgb(255, 255, 255);
  margin-top: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 16px;
  .iconfont {
    color: #999;
  }
}

.order-pay {
  background: #fff;
  margin-top: 10px;
  padding: 15px;
  .course-info {
    box-sizing: border-box;
    display: flex;
    img {
      display: block;
      border-radius: 4px;
    }
    .left-box {
    }
    .right-box {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-left: 10px;
    }
  }
}

.amount-module {
  // height: 56px;
  background: rgb(255, 255, 255);
  margin-top: 10px;
  // justify-content: space-between;
  // display: flex;
  // align-items: center;
  padding: 15px;
  font-size: 14px;
  .element {
    margin-bottom: 5px;
  }
}

.now-buy-bar {
  position: fixed;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: flex;
  .price {
    color: #ff5c5c;
    font-size: 18px;
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .now-buy {
	font-size:18px;
    width: 130px;
    height: 56px;
    background: #23d3b5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}
</style>
