<template>
	<div id="app">
		<transition name="router-fade" mode="out-in">
			<router-view v-if="$route.fullPath"></router-view>
		</transition>
	</div>
</template>
<script>
export default {
  name: 'App',
  components: {
  },
  data() {
    return {
    };
  },
  created(){
    //在页面加载时读取localStorage里的状态信息
    if (localStorage.getItem("store") ) {
      	this.$store.replaceState(Object.assign({},this.$store.state,JSON.parse(localStorage.getItem("store"))))     
    } 
    //在页面刷新时将vuex里的信息保存到localStorage里
    window.addEventListener("beforeunload",()=>{
      	localStorage.setItem("store",JSON.stringify(this.$store.state))
    })
  },
  
  computed:{
  
	
	
  },
  mounted(){
	
  }
}
</script>
<style lang="less" scoped>
	#app{
		display: flex;
		flex: 1;
		height: 100%;
		flex-direction: column;
	}
  
</style>


