<template>
	<div class="education-promotion">
		<Loop></Loop>
		<div class="tabs">
			<router-link  class="left-mode" :to="{path:'/educationPromotion/collegesList' , query:{tabCode:'2'}}">
				<i class="iconfont icon-tubiaozhizuomoban-37"></i>
				<div class="shu-xian"></div>
				<div class="text">
					<div style="font-size:16px;font-weight: bold;color: #ECEEE9;">选院校</div>
					<div style="font-size: 10px;font-family: Source Han Sans CN;font-weight: bold;color: #ECEEE9;margin-top:5px;">科学合理地选择院校</div>
				</div>
			</router-link>
			<router-link  class="left-mode" :to="{path:'/educationPromotion/majorList' , query:{tabCode:'2'}}" 	style="background: #FF9830;">
				<i class="iconfont icon-tubiaozhizuomoban-37"></i>
				<div class="shu-xian"></div>
				<div class="text">
					<div style="font-size:16px;font-weight: bold;color: #ECEEE9;">选专业</div>
					<div style="font-size: 10px;font-family: Source Han Sans CN;font-weight: bold;color: #ECEEE9;margin-top:5px;">科学合理地选择专业</div>
				</div>
			</router-link>
		</div>
	
		<ClassList v-if="schooindexList.sRecommend" :productType="'3'"  :title="'推荐院校'" :dataList.sync="schooindexList.sRecommend" ></ClassList>
		<ClassList v-if="schooindexList.normal" :productType="'3'" :currentStyle="{background:'#fff'}"  :title="'热门院校'" :dataList.sync="schooindexList.normal" ></ClassList>
	
		<FooterBar></FooterBar>
	</div>
</template>
<script>
	import Loop from "@/components/Loop";
	import ClassList from "@/components/educationPromotion";
	import FooterBar from "@/components/FooterBar";
	export default {
		components: {
			Loop,
			ClassList,
			FooterBar
		},
		data() {
			return {
				loadingState:true,
				schooindexList:[]
			}
		},
		created(){
			this.schooindexGetList()
		},
		methods:{
			schooindexGetList() {
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/schooindex`).then(response => {
					console.log(response)
					this.schooindexList=response.data
				})
			}
			// schooindexGetList() {
			// 	this.$request.globalRequest( `/index.php?r=web/site/schooindex`,'GET').then(response => {
			// 		console.log(response)
			// 		this.schooindexList=response.data
			// 	})
			// }
		}				
	}
</script>
<style>
	/* @import '../../../common/uni-nvue.css'; */
</style>

<style lang="less" scoped>
	
	.education-promotion{
		padding-bottom: 60px;
	}
	.tabs{
		padding:10px;
		background: #FFFFFF;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left-mode{
			background:#fd6766;
			
			border-radius: 4px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 15px;
			height:65px;
			flex: 1;
			box-sizing: border-box;
			justify-content: space-around;
		}
		a:last-child{
			margin-right: 0;
		}
		.left-mode .iconfont{
			color:#fff;
			font-size:32px;
			// margin-right:15px;
		}
		.left-mode .shu-xian{
			width:1px;
			height:60%;
			background: #fff;
			// margin-right:15px;
		}
		.left-mode .text{

		}
	}
</style>
