<template>
	<div style="background:#fff;">
		<searchBar></searchBar>
			<div style="display:flex;flex-direction: row;">
				<div class="left-bscroll" ref="menuList" :style='styleObj1'>
					<div class="bscroll-container" >
						<ul class="left-box">
							<li :class="currentIndex==index? 'active' : ''" v-for="(item,index) in menuList" :key="index" @click="tabClick(index,item)">
								<div v-if="currentIndex==index" style="position:absolute;top:0px;left:0;width:3px;height:100%;background: #23D3B5;"></div>
								<span>{{item.sIndustryName}}</span>
							</li>
						</ul>

					</div>
				</div>
				
				<div class="right-bscroll" ref="rightList" :style='styleObj2'>
					<div class="bscroll-container" >
						<ol>
							<li v-for="(item,index) in dataList" :key="index">
								<router-link :to="{ path: '/videoList', query:{tid:item.tid}}" >
									<div class="title">{{item.sIndustryName}}</div>
									<img :src="item.cateImg"  :onerror="Global.defalutLogoUrl" />   
								</router-link>
							</li>
						</ol>
					</div>
				</div>
			</div>
		<FooterBar></FooterBar>
	</div>
</template>
<script>
import NoData from '@/components/NoData'
import FooterBar from '@/components/FooterBar'
import BScroll from "better-scroll";
import searchBar from "@/components/searchBar";
	export default {
		components: {
			NoData,
			FooterBar,
			searchBar
		},
		data() {
			return {
				styleObj1: { "height": ''},
                styleObj2: { "height": '', "width": "100%", "overflow": "hidden", 'font-size': '14px'},
				menuList: [],
				dataList:[],
				currentIndex:0,
			}
		},
		created(){
			
		
		},
		cumputed:{
			
		},
		mounted(){
			this.getMenuList()
		},
		//获取屏幕高度
		beforeMount() {
			var height = 60+50
			var h = document.documentElement.clientHeight || document.body.clientHeight;
			this.styleObj1["height"] = h - height + "px"
			this.styleObj2["height"] = h - height + "px"
		},
		watch: {
           
        },
		methods:{
			_initScroll(){
				this.menuScroll = new BScroll(this.$refs.menuList, {
					click: true,
					useTransition: false  // 防止iphone微信滑动卡顿
				})
				this.foodsScroll = new BScroll(this.$refs.rightList, {
					click: true,
					useTransition: false  // 防止iphone微信滑动卡顿
				})
			},
			getMenuList(){
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/lemu`).then(response => {
					console.log(response)
					this.menuList=response.data.lemu
					this.dataList=response.data.lemu[0].child
					this.$nextTick(()=>{
						this._initScroll()
					})
				})
			},

		
			 
			tabClick(index,item){
				this.currentIndex=index
				this.dataList=item.child
				this.$nextTick(()=>{
					this.foodsScroll.refresh()
				})
			}

		}				
	}
</script>


<style lang="less" scoped>
    @import  "../live/style/index.less";
</style>
