<template>
    <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item v-for="item in dataList" :key="item.id">
            <van-image width="100%"  :src="Global.img_BASE_URL+item.WapBanner" />
        </van-swipe-item>
    </van-swipe>
</template>
<script>
    export default {
        data() {
            return {
               dataList:[]
            };
        },
        mounted() {
           this.getList()
        },
        methods: {
            getList() {
				this.axios.get(this.Global.BASE_URL + `/index.php?r=web/site/banner`).then(response => {
					console.log(response)
					this.dataList=response.data
				})
			}  
        }
    };
</script>
<style lang="less" scoped>
   
</style>